<style>
  .node {
    cursor: pointer;
  }

  .overlay {
    background-color: white;
    /* #EEE; */
  }

  .node circle {
    fill: #fff;
    stroke: Red;
    stroke-width: 1.5px;
  }

  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
  }

  .node text {
    font-size: 6px;
    font-family: sans-serif;
  }

  .link {
    fill: none;
    stroke: #330000;
    /* #ccc;#330000 */
    stroke-width: 1px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show {
    display: block;
  }

  .ghostCircle,
  .activeDrag .ghostCircle {
    display: none;
  }

  .center {
    text-align: right;
  }

  .emoji-happy::before {
    content: "\01F354";
  }

  select {
    font-family: 'FontAwesome', 'sans-serif';
    font-size: 20px;
  }

  /* option{
  color: red;
} */

  /* option {
  font-size:50px;
} */
</style>

<main class="container-fluid main py-5">
  <div class="row">

    <div class="col-md-3">
      <div class="card card-body">
        <div id="svgLoadingImage">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
            <path fill="#C779D0"
              d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z">
              <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.5s"
                repeatCount="indefinite" />
            </path>
          </svg>
          <i id="sessionExpiredId" style="color: red;">{{responseMsg}}</i>
        </div>
        <h4>Aspects ( 10 ) :: {{selectedAspect}}</h4>
        <ul class="list-group" *ngFor="let facet of facetList">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-link" (click)="getAspectResult($event)">
              {{facet.value}}
            </button>
            <span class="badge badge-primary badge-pill"> {{facet.count}}</span>
            <i [hidden]="facet.display" (click)="removeSelected(facet.value)" class="fa fa-times-circle" aria-hidden="true" style="color: red;cursor: pointer;"></i>
          </li>
        </ul>
      </div>

    </div>

    <div class="col">
      <!-- response msg -->
      <!-- id="successMsgFlag" -->
      <!-- 
      <div id="successMsgFlag" class="alert alert-success" role="alert">
        saved successfully
      </div>
      <div id="errorMsgFlag" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div> -->

      <div class="card card-body bs-2">
        <!-- <div class="container"> -->
        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <!-- #box (keyup)="onKey(box.value)" -->
              <input id="SearchFeedbackInputBoxId" [(ngModel)]="searchTerm" class="form-control border-secondary py-2"
                type="search" placeholder=" Search" style="width: 550px;">
              <!-- <i class="fa fa-search" aria-hidden="true"  (click)="getSearchFeedback()"></i> -->
              <div class="input-group-append">
                <!-- <i class="fa fa-search" aria-hidden="true" (click)="getSearchFeedback()"></i> -->
                <button class="btn btn-outline-secondary" type="button" style="height: 38px;"
                  (click)="getSearchFeedback()">
                  <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" style="height: 38px;"
                  (click)="clearSearch()">
                  <i class="fa fa-eraser" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>

      <div class="card card-body mt-4 bs-2">
        <div>
          <input [(ngModel)]="updatedAspect" type="text" placeholder="Enter Aspect here" class="form-control">&nbsp;
          <!-- &nbsp; -->
          <i class="fa fa-plus-square-o" aria-hidden="true" title="Apply to Selected"
            style="font-size: 20px; color:green; cursor: pointer;" (click)="applyToSelected()"></i>&nbsp;
          <i class="fa fa-plus-circle" aria-hidden="true" title="Apply to All" (click)="applyToAll()"
            style="font-size: 20px; color:green; cursor: pointer;"></i>&nbsp;
          <i class="fa fa-minus-square-o" aria-hidden="true" title="Delete From Selected"
            style="font-size: 20px; color:red; cursor: pointer;" (click)="deleteFromSelected()"></i>&nbsp;
          <i class="fa fa-minus-circle" aria-hidden="true" title="Delete From All"
            style="font-size: 20px; color:red; cursor: pointer;" (click)="deleteFromAll()"> </i>
          <i [hidden]="massUpdateCompleteFlag">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 50 50">
              <path fill="#C779D0"
                d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z">
                <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.5s"
                  repeatCount="indefinite" />
              </path>
            </svg>
          </i>&nbsp;&nbsp;&nbsp;
          <i [hidden]="successId" style="color: green;">{{responseMsg}}</i>
          <i id="errorResponseId1" [hidden]="errorId" style="color: red;">{{responseMsg}}</i>
          Refresh
          <i class="fa fa-refresh" aria-hidden="true"
            style="margin-left: 1%; color:green; font-size: 20px; cursor: pointer;" title="Refresh Page!"
            (click)="refreshPage()"></i>
        </div>
        <div class="table-responsive">
          <b style="color: #01132b;">Total Reviews : ({{totalCount}})</b>
          <div id="svgReviewLoadingImage">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
              <path fill="#C779D0"
                d="M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z">
                <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.5s"
                  repeatCount="indefinite" />
              </path>
            </svg>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="sel" style="width: 30px;">
                  <!-- <input type="checkbox" aria-label="Checkbox for following text input"> -->
                </th>
                <th scope="col" class="srno">#</th>
                <th scope="col">Review</th>
                <th scope="col" class="aspect">Aspect</th>
                <!-- <th scope="col" class="">#</th> -->
                <th scope="col" class="rating">Rating</th>
                <th scope="col" class="sentiment" style="width:96px">Sentiment</th>
                <th scope="col" class="modified">Modified</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reviewRecord of collection.data | paginate: config; let index = index ">
                <!-- {{ reviewRecord.id }} -->
                <td style="width: 20px;"><input type="checkbox" aria-label="Checkbox for following text input"
                    (change)="selectCheckBox(reviewRecord, $event)" /></td>
                <!-- {{index + 1}} -->
                <td scope="row" class="srno" style="text-align: center;">{{ reviewRecord.id }}</td>
                <!-- text-truncate -->
                <td class="text-wrap">
                  {{ reviewRecord.review }}
                </td>
                <td contenteditable="false" class="aspect" aria-disabled="true">
                  <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" id="{{reviewRecord.edit_pensil_id}}"
                      style="font-size: 20px; cursor: pointer;color: #8798ca;"
                      (click)="expandRow(reviewRecord.edit_aspect_div_id,reviewRecord.edit_pensil_id, reviewRecord.edit_close_id,reviewRecord.aspect_span_id, reviewRecord, index)"></i>
                    <span [hidden]="false" id="{{ reviewRecord.aspect_span_id}}"> {{ reviewRecord.aspect }}</span>
                    <!-- <img [hidden]="false" id="{{reviewRecord.edit_pensil_id}}" src="/img/svg/pencil.svg"
                      class="text-right" style="height:20px; cursor: pointer;" data-toggle="tooltip"
                      data-placement="bottom" title="click Edit for update Aspect"
                      (click)="expandRow(reviewRecord.edit_aspect_div_id,
                       reviewRecord.edit_pensil_id, reviewRecord.edit_close_id,reviewRecord.aspect_span_id, reviewRecord, index)"> -->
                    <div [hidden]="true" id="{{reviewRecord.edit_close_id}}">
                      &nbsp;<input type="text" class="form-control" style="width: 190px; text-align: center;"
                        placeholder="Aspects" readonly />
                      &nbsp;<i class="fa fa-times-circle" aria-hidden="true"
                        style="cursor: pointer;font-size: 20px;color: #ed0606;"
                        (click)="collapseRow(reviewRecord.id,reviewRecord.edit_aspect_div_id, reviewRecord.edit_pensil_id, reviewRecord.edit_close_id, reviewRecord.aspect_span_id)"></i>
                      <!-- <span style="width:500px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Close&nbsp;<i class="fa fa-times-circle"
                          aria-hidden="true" style="height:20px;cursor: pointer;"
                          (click)="collapseRow(reviewRecord.edit_aspect_div_id, reviewRecord.edit_pensil_id, reviewRecord.edit_close_id, reviewRecord.aspect_span_id)"></i></span> -->
                    </div>
                    <!-- <img [hidden]="true" id="{{reviewRecord.edit_close_id}}" src="/img/svg/circle-x.svg"
                      style="height:20px;cursor: pointer;" value="close " data-toggle="tooltip" data-placement="bottom"
                      title="click for remove Aspect"
                      (click)="collapseRow(reviewRecord.edit_aspect_div_id, reviewRecord.edit_pensil_id, reviewRecord.edit_close_id, reviewRecord.aspect_span_id)"> -->
                  </div>

                  <div [hidden]="true" id="{{reviewRecord.edit_aspect_div_id}}">
                    <table class="table table-borderless table-condensed">
                      <thead>
                        <tr>
                          <!-- <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th> &nbsp; -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="width: 200px;">
                          <td>
                            <input type="text" id="{{reviewRecord.add_aspect_input_box_id}}" class="form-control"
                              style="width: inherit;" placeholder="Add Aspects" />
                          </td>
                          <td>
                            <i class="fa fa-plus-square" aria-hidden="true"
                              style="cursor: pointer; margin-left: 80px;color: green"
                              (click)="addAspect(reviewRecord)"></i>
                          </td>
                        </tr>
                        <tr *ngFor="let aspect of document.aspect; let aspectIndex = index" style="width:200px;">
                          <td (click)="clicked(aspect)">
                            <!-- <div id="aspect.aspect_parent_id1" >{{aspect.value}}</div> -->
                            <input id="aspect.aspect_child_id1" type="text" id="{{aspect.updatedIndex}}"
                              value="{{aspect.value}}" style="width: inherit;" />
                          </td>
                          <td>
                            <div class="input-group-append">
                              <i id="aspect.aspect_parent_id2" class="fa fa-trash" aria-hidden="true"
                                style="color: red; cursor: pointer; margin-left: 80px;"
                                (click)="removeAspect(reviewRecord,aspectIndex)"></i>
                              &nbsp;
                              <!-- <i id="aspect.aspect_child_id2" class="fa fa-check-square" aria-hidden="true"
                                style="color: blue; cursor: pointer;"
                                (click)="updateAspect(reviewRecord.documentId,aspect.updatedIndex,aspectIndex)"></i> -->
                            </div>

                            <!-- &nbsp; -->
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>

                </td>
                <!-- Button trigger modal -->
                <!-- <td style="width: 50px;">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
                    (click)="getRowRecord(reviewRecord, index)">
                    update Aspect
                  </button>
                </td> -->
                <td class="rating" style="text-align: center;">{{ reviewRecord.rating}}</td>
                <td class="chars" id="sentimentDD" style="width:96px">

                  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
                    rel="stylesheet" />
                  <!-- <select>
                    <option [ngStyle]="{color:green}" value="fa-smile-o">&#xf118;</option>
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                    <option style="color: red; font-size: 20px;" value="fa-frown-o">&#xf119; </option>
                    <option style="color: yellow; font-size: 20px;" value="fa-meh-o">&#xf11a; </option>
                  </select> -->

                  <!-- [style.color]="selectedColor" -->
                  <!-- [style.color]="reviewRecord.sentiment === 'positive'?'green':reviewRecord.sentiment === 'negative':'yellow'" -->
                  <select id="{{reviewRecord.sentiment_select_id}}" [style.color]="reviewRecord.sentiment_color"
                    ([ngModel])="reviewRecord.sentiment" style="width: 80px;"
                    (change)="onSelectSentiment(reviewRecord, $event)">
                    <!-- <option  aria-hidden="true" (value)="fa-amazon" [innerHtml]="fa-amazon"></option> -->
                    <option [style.color]="sentiment.color" *ngFor="let sentiment of listSenti; let index = index"
                      [ngValue]="sentiment.fontAwesom" id="{{reviewRecord.id}}_{{sentiment}}"
                      [selected]="reviewRecord.sentiment == sentiment.value" [innerHtml]="sentiment.sentiment">
                    </option>
                  </select>

                </td>
                <td class="modified" style="text-align: center;">
                  <!-- {{ reviewRecord.modified }} -->
                  <i *ngIf="reviewRecord.modified == 'yes';" class="fa fa-check-square-o checked"
                    aria-hidden="true"></i>
                  <i *ngIf="reviewRecord.modified == 'no';" class="fa fa-square-o unchecked" aria-hidden="true"></i>
                </td>
                <!-- <td class="modified" style="text-align: center;">
                  <i id ="modifiedCheckedFlag" *ngIf="reviewRecord.modified == 'yes';" class="fa fa-check-square-o checked"
                    aria-hidden="true"></i>
                  <i id ="modifiedUnCheckedFlag" *ngIf="reviewRecord.modified == 'no';" class="fa fa-square-o unchecked" aria-hidden="true"></i>
                </td> -->

              </tr>
            </tbody>
          </table>
        </div>
        <div style="width: 100%;">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link" (click)="getPreviousPage()" style="cursor: pointer;color: blue;">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" (click)="getFirstPage()" style="cursor: pointer;color: blue;">{{firstPage}}</a></li>
              <li class="page-item"><a class="page-link" (click)="getSecondPage()" style="cursor: pointer;color: blue;">{{secondPage}}</a></li>
              <li class="page-item"><a class="page-link" (click)="getThirdPage()"style="cursor: pointer;color: blue;">{{thirdPage}}</a></li>
              <li class="page-item">
                <a class="page-link" (click)="getLastPage()" style="cursor: pointer;color: blue;">Next</a>
              </li>
            </ul>
          </nav>
          <button class="btn btn-success btn-sm" type="submit" value="submit"
            (click)="saveRecord()">Save</button>&nbsp;&nbsp;
          <button class="btn btn-danger btn-sm" value="cancel">Cancel</button>
          &nbsp;&nbsp;&nbsp;
          <i id="successResponseId" [hidden]="successId" style="color: green;">{{responseMsg}}</i>
          <i id="errorResponseId" [hidden]="errorId" style="color: red;">{{responseMsg}} </i>

        </div>
        <!-- <pagination-controls (pageChange)="pageChanged($event)" class="center"></pagination-controls> -->
        <!-- <a class="nav-item nav-link" id="nav-keyphrases-tab" data-toggle="tab" href="#nav-keyphrases">Keyphrases</a> -->
        <!-- <a class="nav-item nav-link" id="nav-sentiments-tab" data-toggle="tab" href="#nav-sentiments">Sentiments</a> -->
        <!-- <a ng-hide="true"  class="nav-item nav-link" id="nav-categories-tab" data-toggle="tab" href="#nav-categories">Kano modell</a> -->
        <!-- <a class="nav-item nav-link" id="nav-aspects-tab" data-toggle="tab" href="#nav-aspects">Aspects</a> -->
        <!-- </div>
</nav> -->
      </div>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="padding-right: 200px;">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <div id="successMsgFlag" class="alert alert-success" role="alert">
                saved successfully
              </div>
              <div id="errorMsgFlag" class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
              </div> -->
              <div class="container-fluid">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Srno.</th>
                      <th scope="col">Review</th>
                      <th scope="col">Aspect</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{document.srNo}}</td>
                      <td>{{document.review}}</td>
                      <td>
                        <div class="input-group">
                          <input type="text" id="addAspect" class="form-control"
                            aria-label="Text input with segmented dropdown button" />
                          <div class="input-group-append">
                            <!-- (click)="addAspect()" -->
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"> Add
                            </button>
                          </div>
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let aspect of document.aspect; let aspectIndex = index">
                            <div class="input-group">
                              <input type="text" id="{{aspect.updatedIndex}}" value="{{aspect.value}}"
                                class="form-control" aria-label="Text input with segmented dropdown button" />
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"
                                  (click)="removeAspect(aspectIndex)"> Remove </button>
                                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"
                                  (click)="updateAspect(aspect.updatedIndex,aspectIndex)"> Update </button>
                              </div>
                            </div>
                          </li>

                          <!-- <span><button type="button" class="btn btn-light">Add</button></span> -->

                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" id="card-tabs">
        <!-- reviews -->
        <div class="tab-pane fade" id="nav-reviews">
          <div class="card-body">
            <!-- create table here -->

          </div>
        </div>

        <!-- key phrases -->
        <div class="tab-pane fade" id="nav-keyphrases">
          <!-- <div class="card-body" force-refresh-images="true"> -->
          <p>key phrases</p>
          <!-- {{dashboard.current.rows}} -->

          <!-- </div> -->
        </div>

        <!-- sentiments -->
        <div class="tab-pane fade" id="nav-sentiments">
          <div class="card-body">
            <p>sentiments</p>

          </div>
        </div>

        <!-- categories -->
        <div class="tab-pane fade" id="nav-categories" ng-hide="true">
          <div class="card-body">
            <p>Kano modell</p>
            <div class="col mt-4" id="vhvkanoImage">
              <div class="card card-body">
                <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6>
                <img src="/insaas/img/vhv.PNG" width="70%" />
              </div>
            </div>
            <div class="col mt-4" id="hlkanoImage">
              <div class="card card-body">
                <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6>
                <img src="/insaas/img/hl.PNG" width="70%" />
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</main>