<!-- <ul class="navbar-nav">
  <li class="nav-item" *ngFor="let menu of menuList">
    <a class="nav-link" href={{menu.screenUrls}}>{{menu.screenDisplayMenus}}</a>
  </li>
</ul> -->

<ul class="navbar-nav ml-auto"> 
<div class="dropdown"> 
 <div align="right"><i class="fa fa-user-circle-o" style=" margin-right:15px;">Welcome {{Username}}</i></div>
 <div  class="dropdown-content">
    <a  href="ChangePassword"><i class="fa fa-lock">Change Password</i></a> 
    <a (click)="logout()" href="login"><i class="fa fa-sign-out">Logout</i></a>
  </div>
</div>

 </ul> 
 