<nav class="navbar navbar-expand-md sticky-top navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/logo_INSAAS.png" height="30" alt="home">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav ml-auto" ng-controller='dashLoader' ng-init="init()" ng-include="'app/partials/dashLoader.html'"> 
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid main py-5 vh-100 h-100">
  <div ng-controller="customerDetails" ng-init="getCustomerData()">
    <div class="mb-4">
      <button class="btn btn-danger mr-auto" data-toggle="modal" data-target="#add-shipment-modal" contenteditable="false" >
        <i class="fa fa-plus"></i> Add
      </button>
    </div>
    
    <table class="table text-dark">
      <thead>
        <tr>
          <th scope="col">Customer Name</th>
          <th scope="col">Core Name</th>
          <th scope="col">Details</th>
        </tr> 
      </thead>
      <tbody >
        <tr ng-repeat="X in customerData">
          <td>{{X.customerName}}</td>
          <td>{{X.coreName}}</td>
          <td>

            <!-- inner table -->
            <table class="table-borderless" style="width: 100%">
              <thead ng-if="$index == 0 "> 
                <th scope="col">URL</th>
                <th scope="col">Scrap</th>
                <th scope="col">Clear</th>
                <th scope="col">Edit</th>
              </thead>
              <tbody>
                <tr ng-repeat="details in X.customerDetailsList">
                  <td style="width: 80%">{{details.uRL}}</td>
                  <td><button class="button" ng-click="scrapper(details.custDetailsId)">Scrap</button></td>
                  <td><button class="button" ng-click="clearCoreData(details.custDetailsId)">Clear</button></td>
                  <td><button class="button" ng-click="editData(details.custDetailsId)">Edit</button></td>
                </tr>
              </tbody>
            </table>
            <!-- inner table -->

          </td>
        </tr>
      </tbody>
    </table>

    <!-- MODALS -->
    <div id="add-shipment-modal" class="modal fade" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
    
          <!-- Modal header -->
          <div class="modal-header" >
            <h5 class="modal-title">Add new customer</h5>
            <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      
    
          <!-- Modal body -->
          <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
              <div class="container-fluid">
                <div class="row d-flex justify-content-center mt-9">
                  <p style="color:red;">{{msgCustomerName}}</p>
                </div>
                  
                <!-- row-2 -->
                <div class="form-group row">
                  <label for="customer-name" class="col-sm-2 offset-3 col-form-label">Customer Name</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                      </div>
                      <input  type="text" autocomplete="off" ng-model="customer.customerName" class="form-control" required> 
                      <div class="invalid-feedback">{{msgCustomerName}}</div>
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                <!-- row-3 -->
                <div class="form-group row">
                  <!-- driver-name -->
                  <label for="Core Name" class="col-sm-2 offset-3 col-form-label">Core Name</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="customer.coreName"  id="core-name" 
                        class="form-control" placeholder="Core Name" autocomplete="off">
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                
                <div class="form-group row">
                  <!-- driver-mobile -->
                  <label for="URL" class="col-sm-2 offset-3 col-form-label">URL</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-mobile"></i>
                        </span>
                      </div>
                      <input type="text" autocomplete="off" ng-model="customer.uRL" class="form-control" required> 
                      <div class="invalid-feedback">{{msgURL}}</div>
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                <!-- row-3 -->
                <div class="form-group row">
                  <!-- driver-name -->
                  <label for="SourceOfInfo" class="col-sm-2 offset-3 col-form-label">SourceOfInfo</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="customer.sourceOfInfo"  id="core-name" 
                        class="form-control" placeholder="SourceOfInfo" autocomplete="off">
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                <div class="form-group row">
                  <!-- driver-mobile -->
                  <label for="aPI_Key" class="col-sm-2 offset-3 col-form-label">ApiKey</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                      </div>
                      <input  type="text" autocomplete="off" ng-model="customer.aPI_Key" class="form-control" required> 
                      <div class="invalid-feedback">{{msgaPI_Key}}</div>
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                <!-- row-3 -->
                <div class="form-group row">
                  <!-- driver-name -->
                  <label for="SourceOfInfo" class="col-sm-2 offset-3 col-form-label">project_Token</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="customer.project_Token"  id="core-name" class="form-control" placeholder="project_Token" autocomplete="off">
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                  
                <div class="form-group row">
                  <!-- driver-mobile -->
                  <label for="run_Token" class="col-sm-2 offset-3 col-form-label">run_Token</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-mobile"></i>
                        </span>
                      </div>
                      <input  type="text" autocomplete="off" ng-model="customer.run_Token" class="form-control" required> 
                      <div class="invalid-feedback">{{msgURL}}</div>
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                <!-- row-3 -->
                <div class="form-group row">
                  <!-- driver-name -->
                  <label for="analysisStatement" class="col-sm-2 offset-3 col-form-label">analysisStatement</label>
                  <div class="col-sm-4">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input type="text" ng-model="customer.analysisStatement"  id="core-name" class="form-control" placeholder="analysisStatement" autocomplete="off">
                    </div>
                  </div>
                </div> <!-- /.form-group -->

                <div id="btnDiv" class="col-12 text-center">
                  <button  id="btnSave" ng-click="addCustomer(customer)" type="submit" class="btn btn-warning btn-jd" >Save</button>&nbsp;
                  <button type="reset" class="btn btn-warning btn-jd">Clear</button>
                </div>
              </div> <!-- /.container-fluid -->

            </form>
          </div>
          <!-- Modal body -->

        </div>
      </div>
    </div>
    <!-- MODALS -->
  </div>
</main>


<!-- demo -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!-- demo -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>