<style>
  
    .node {
      cursor: pointer;
    }
  
    .overlay{
        background-color:white;/* #EEE; */
    }
     
    .node circle {
      fill: #fff;
      stroke: Red;
      stroke-width: 1.5px;
    }
     
    .node text {
      font-size:6px; 
      font-family:sans-serif;
    }
     
    .link {
      fill: none;
      stroke:#330000; /* #ccc;#330000 */
      stroke-width: 1px;
    }
  
    .templink {
      fill: none;
      stroke: red;
      stroke-width: 3px;
    }
  
    .ghostCircle.show{
        display:block;
    }
  
    .ghostCircle, .activeDrag .ghostCircle{
         display: none;
    }
  </style>


<script>
    var requireFields = window.localStorage.getItem("requireFields");
    var requireFieldsJsonObject = JSON.parse(requireFields);
    
    var sourceOfInfo =  requireFieldsJsonObject.sourceOfInfo;
    //document.getElementById("sourceOfInfo").innerHTML = 'Data Source : ' + sourceOfInfo;
    if(sourceOfInfo == 'Check24, TrustedShops, TrustPilot, Motor-Talk'){
      document.getElementById("vhvkanoImage").style.display = 'show';
      document.getElementById("hlkanoImage").style.display = 'none';
    }else{
      document.getElementById("vhvkanoImage").style.display = 'none';
      document.getElementById("hlkanoImage").style.display = 'none';
    }
  </script>

<nav class="navbar navbar-expand-md sticky-top navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/logo_INSAAS.png" height="30" alt="home">
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav ml-auto" ng-controller='dashLoader' ng-init="init()" ng-include="'app/partials/dashLoader.html'"> 
        </ul>
      </div>
    </div>
  </nav>

  <main class="container-fluid main py-5">
      <div class="row">

<!-- <div class="col-12 mb-4">
  <div class="card card-body bg-purple border-purple text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead">It is a long established fact that a reader will be distracted by the readable content.</p>
        </div>
        <div class="col">
          <h2 class="text-white">Lorem Ipsum is simply dummy text</h2>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="col-md-3">
  <div class="card card-body">
    <P ng-hide="true"> {{row_name = dashboard.current.rows[2].row_name}} {{row = dashboard.current.rows[2]}}
    </P>
    <!-- {{dashboard.current.rows[0].row_name}} -->
    <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
      <!-- Error Panel -->
      <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}"></span>
      <div class="">
        <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
          <a class="close" ng-click="panel.error=false">&times;</a>
          <i class="icon-exclamation-sign"></i>
          <strong>Oops!</strong> {{panel.error}}
        </div>
      </div>
      <!-- Content Panel -->
      <div class="row-fluid" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
        <kibana-panel type="panel.type" ng-cloak></kibana-panel>
      </div>
    </div>
  </div>

  <div class="card card-body mt-4">
     <!-- filter panel -->
          <!-- {{dashboard.current.rows[2]}} -->
          <P ng-hide="true"> {{row_name = dashboard.current.rows[7].row_name}} {{row = dashboard.current.rows[7]}}
            </P>
            <!-- {{dashboard.current.rows[0].row_name}} -->
            <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
              <!-- Error Panel -->
              <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}"></span>
              <div class="">
                <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                  <a class="close" ng-click="panel.error=false">&times;</a>
                  <i class="icon-exclamation-sign"></i>
                  <strong>Oops!</strong> {{panel.error}}
                </div>
              </div>
              <!-- Content Panel -->
              <div class="" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
                <kibana-panel type="panel.type" ng-cloak></kibana-panel>
              </div>
            </div>
  </div>
	<div class="card card-body mt-4">
     <!-- filter panel -->
          <!-- {{dashboard.current.rows[2]}} -->
          <P ng-hide="true"> {{row_name = dashboard.current.rows[8].row_name}} {{row = dashboard.current.rows[8]}}
            </P>
            <!-- {{dashboard.current.rows[0].row_name}} -->
            <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
              <!-- Error Panel -->
              <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}"></span>
              <div class="">
                <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                  <a class="close" ng-click="panel.error=false">&times;</a>
                  <i class="icon-exclamation-sign"></i>
                  <strong>Oops!</strong> {{panel.error}}
                </div>
              </div>
              <!-- Content Panel -->
              <div class="" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
                <kibana-panel type="panel.type" ng-cloak></kibana-panel>
              </div>
            </div>
  </div>
</div>

<div class="col">
    <div class="card card-body bs-2">
        <P ng-hide="true"> {{row_name = dashboard.current.rows[0].row_name}} {{row = dashboard.current.rows[0]}}
          </P>
          <!-- {{dashboard.current.rows[0].row_name}} -->
          <!-- bwc test -->
          <!-- <div ng-repeat="(name, panel) in row.panels|filter:isPanel"> -->
          <!-- Panels -->
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel" ng-hide="panel.span == 0 || panel.hide" class="span{{panel.span}} panel nospace"
            style="min-height:50px; position:relative; color: black;" data-drop="true" ng-model="row.panels" data-jqyoui-options
            jqyoui-droppable="{index:$index,mutate:false,onDrop:'panelMoveDrop',onOver:'panelMoveOver(true)',onOut:'panelMoveOut'}">
            <!-- Error Panel -->
            <div class="">
              <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                <a class="close" ng-click="panel.error=false">&times;</a>
                <i class="icon-exclamation-sign"></i>
                <strong>Oops!</strong> {{panel.error}}
              </div>
            </div>
            <!-- Content Panel -->
            <div class="" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
    </div>

  <div class="card card-body mt-4 bs-2">
    <nav>
      <div class="nav nav-tabs px-3" id="card-tab">
        <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews">
          Reviews
          <span class="badge badge-warning">
            <P ng-hide="true"> {{row_name = dashboard.current.rows[6].row_name}} {{row = dashboard.current.rows[6]}}
            </P>
            <div ng-repeat="(name, panel) in row.panels|filter:isPanel" style="height: 15px;">
              <!-- Content Panel -->
              <div class="" ng-class="{'dragInProgress':dashboard.panelDragging}">
                <kibana-panel type="panel.type" ng-cloak></kibana-panel>
              </div>
            </div>
          </span>
        </a>
        <a class="nav-item nav-link" id="nav-keyphrases-tab" data-toggle="tab" href="#nav-keyphrases">Keyphrases</a>
        <a class="nav-item nav-link" id="nav-sentiments-tab" data-toggle="tab" href="#nav-sentiments">Sentiments</a>
        <a ng-hide="true"  class="nav-item nav-link" id="nav-categories-tab" data-toggle="tab" href="#nav-categories">Kano modell</a>
        <!-- <a class="nav-item nav-link" id="nav-aspects-tab" data-toggle="tab" href="#nav-aspects">Aspects</a> -->
      </div>
    </nav>

    <div class="tab-content" id="card-tabs">
      <!-- reviews -->
      <div class="tab-pane fade" id="nav-reviews">
        <div class="card-body">
          <P ng-hide="true"> {{row_name = dashboard.current.rows[1].row_name}} {{row = dashboard.current.rows[1]}}
          </P>
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
            <!-- Content Panel -->
            <div class="" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
        </div>
      </div>

      <!-- key phrases -->
      <div class="tab-pane fade" id="nav-keyphrases">
        <!-- <div class="card-body" force-refresh-images="true"> -->
        <p>key phrases</p>
        <!-- {{dashboard.current.rows}} -->
        <P ng-hide="true"> {{row_name = dashboard.current.rows[3].row_name}} {{row = dashboard.current.rows[3]}}
        </P>
        <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
          <!-- Content Panel -->
          <div class="" ng-class="{'dragInProgress':dashboard.panelDragging}">
            <kibana-panel type="panel.type" ng-cloak></kibana-panel>
          </div>
        </div>
        <!-- </div> -->
      </div>

      <!-- sentiments -->
      <div class="tab-pane fade" id="nav-sentiments">
        <div class="card-body">
          <p>sentiments</p>
          <P ng-hide="true"> {{row_name = dashboard.current.rows[5].row_name}} {{row = dashboard.current.rows[5]}}
          </P>
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel" class="span{{panel.span}} panel nospace" style="min-height:{{row.height}}; min-width:{{row.width}}; position:relative">
            <!-- Content Panel  -->
            <div class="" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
        </div>
      </div>

      <!-- categories -->
      <div class="tab-pane fade" id="nav-categories" ng-hide="true">
        <div class="card-body">
          <p>Kano modell</p>
   	  <div class="col mt-4" id="vhvkanoImage">
                <div class="card card-body">
                  <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6> 
                  <img src="/insaas/img/vhv.PNG" width="70%"/>
                </div>
            </div>
            <div class="col mt-4" id="hlkanoImage">
                <div class="card card-body">
                  <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6> 
                  <img src="/insaas/img/hl.PNG" width="70%" />
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</main>
