<script>
  // alert(window.localStorage.getItem("analysisStatement"));
  var requireFields = window.localStorage.getItem("requireFields");
  var requireFieldsJsonObject = JSON.parse(requireFields);
  document.getElementById("totalReviews").innerHTML = 'Total Reviews : ' + requireFieldsJsonObject.totalReviews;
  document.getElementById("analysisStatement").innerHTML = requireFieldsJsonObject.analysisStatement;
  document.getElementById("sourceOfInfo").innerHTML = 'Data Source : ' + requireFieldsJsonObject.sourceOfInfo;
  var dateFrom = requireFieldsJsonObject.dateFrom;
  var dateTo = requireFieldsJsonObject.dateTo;
  document.getElementById("date").innerHTML = 'From : ' + dateFrom + ' To : ' + dateTo;
</script>
<div>
  <nav class="navbar navbar-expand-md sticky-top navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img/logo_INSAAS.png" height="30" alt="home">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav ml-auto" ng-controller='dashLoader' ng-init="init()" ng-include="'app/partials/dashLoader.html'">
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="col">
      
    </div> -->

  <main class="container-fluid main py-5">
	<h4 id="analysisStatement" style="text-align:center" class="col text-center"></h4>    
<div class="row">

      <div class="col-12 mb-4">
        <div class="card card-body bg-purple border-purple text-white">
          <div class="container">
            <div class="row">
              <div class="row">
                <div id="totalReviews" class="col"></div>
              </div>
              <div class="col">
                  <div id="analysisStatement" class="col text-center"></div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div id="sourceOfInfo" class="row">
                </div>
                <div id="date" class="row"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <!-- Source of info -->
              </div>
              <div id="analysisStatement" class="col">
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 text-right">
          <input type="button" class="btn btn-primary btn-danger shadow font-weight-bold" class="btn btn-ghost btn-ghost-bordered center-block nav-link"
            onclick="window.location.reload();" value="RESET" style="width:70px;line-height: 0.5;font-size: 12px;">
        </div>
      </div>

      <div class="col-md-6 height-20">
        <div class="card card-body" style="height:392px">
          <h6 style=" text-align: left;color:darkcyan;margin-top: 0px">Sentiments</h6>
          <P ng-hide="true"> {{row_name = dashboard.current.rows[1].row_name}} {{row = dashboard.current.rows[1]}}
          </P>
          <!-- {{dashboard.current.rows[0].row_name}} -->
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
            <!-- Error Panel -->
            <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
            <div class="">
              <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                <a class="close" ng-click="panel.error=false">&times;</a>
                <i class="icon-exclamation-sign"></i>
                <strong>Oops!</strong> {{panel.error}}
              </div>
            </div>
            <!-- Content Panel -->
            <div class="row-fluid" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body">
          <h6 style=" text-align: left;color:darkcyan;margin-top: 0px">Top 20 Aspects</h6>
          <P ng-hide="true"> {{row_name = dashboard.current.rows[2].row_name}} {{row = dashboard.current.rows[2]}}
          </P>
          <!-- {{dashboard.current.rows[0].row_name}} -->
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
            <!-- Error Panel -->
            <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
            <div class="">
              <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                <a class="close" ng-click="panel.error=false">&times;</a>
                <i class="icon-exclamation-sign"></i>
                <strong>Oops!</strong> {{panel.error}}
              </div>
            </div>
            <!-- Content Panel -->
            <div class="row-fluid" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="card card-body">
          <h6 style=" text-align: left;color:darkcyan;margin-top: 0px">Top 10 Positive</h6>
          <P ng-hide="true"> {{row_name = dashboard.current.rows[4].row_name}} {{row = dashboard.current.rows[4]}}
          </P>
          <!-- {{dashboard.current.rows[0].row_name}} -->
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
            <!-- Error Panel -->
            <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
            <div class="">
              <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                <a class="close" ng-click="panel.error=false">&times;</a>
                <i class="icon-exclamation-sign"></i>
                <strong>Oops!</strong> {{panel.error}}
              </div>
            </div>
            <!-- Content Panel -->
            <div class="row-fluid" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="card card-body">
          <h6 style=" text-align: left;color:darkcyan; margin-top: 0px">Top 10 Negative</h6>
          <P ng-hide="true"> {{row_name = dashboard.current.rows[3].row_name}} {{row = dashboard.current.rows[3]}}
          </P>
          <!-- {{dashboard.current.rows[0].row_name}} -->
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
            <!-- Error Panel -->
            <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
            <div class="">
              <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                <a class="close" ng-click="panel.error=false">&times;</a>
                <i class="icon-exclamation-sign"></i>
                <strong>Oops!</strong> {{panel.error}}
              </div>
            </div>
            <!-- Content Panel -->
            <div class="row-fluid" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
        </div>
      </div>

      <div class="col mt-4">
        <div class="card card-body">
          <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6>
          <P ng-hide="true"> {{row_name = dashboard.current.rows[8].row_name}} {{row = dashboard.current.rows[8]}}
          </P>
          <!-- {{dashboard.current.rows[0].row_name}} -->
          <div ng-repeat="(name, panel) in row.panels|filter:isPanel">
            <!-- Error Panel -->
            <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
            <div class="">
              <div class="span12 alert alert-error panel-error" ng-hide="!panel.error">
                <a class="close" ng-click="panel.error=false">&times;</a>
                <i class="icon-exclamation-sign"></i>
                <strong>Oops!</strong> {{panel.error}}
              </div>
            </div>
            <!-- Content Panel -->
            <div class="row-fluid" style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
              <kibana-panel type="panel.type" ng-cloak></kibana-panel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
