<style>
  .node {
    cursor: pointer;
  }

  .overlay {
    background-color: white;
    /* #EEE; */
  }

  .node circle {
    fill: #fff;
    stroke: Red;
    stroke-width: 1.5px;
  }

  .node text {
    font-size: 6px;
    font-family: sans-serif;
  }

  .link {
    fill: none;
    stroke: #330000;
    /* #ccc;#330000 */
    stroke-width: 1px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show {
    display: block;
  }

  .ghostCircle,
  .activeDrag .ghostCircle {
    display: none;
  }
</style>


<script>
  // var requireFields = window.localStorage.getItem("requireFields");
  // var requireFieldsJsonObject = JSON.parse(requireFields);

  // var sourceOfInfo = requireFieldsJsonObject.sourceOfInfo;
  // //document.getElementById("sourceOfInfo").innerHTML = 'Data Source : ' + sourceOfInfo;
  // if (sourceOfInfo == 'Check24, TrustedShops, TrustPilot, Motor-Talk') {
  //   document.getElementById("vhvkanoImage").style.display = 'show';
  //   document.getElementById("hlkanoImage").style.display = 'none';
  // } else {
  //   document.getElementById("vhvkanoImage").style.display = 'none';
  //   document.getElementById("hlkanoImage").style.display = 'none';
  // }

</script>

<nav class="navbar navbar-expand-md sticky-top navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/logo_INSAAS.png" height="30" alt="home">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav ml-auto" ng-controller='dashLoader' ng-init="init()"
        ng-include="'app/partials/dashLoader.html'">
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid main py-5">

  <!-- <div class="col"> -->
  <!-- <div class="tab-pane fade" id="nav-categories" ng-hide="true">
    <div class="card-body">
      <p>Kano modell</p>
      <div class="col mt-4" id="vhvkanoImage">
        <div class="card card-body">
          <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6>
          <img src="/insaas/img/vhv.PNG" width="70%" />
        </div>
      </div>
      <div class="col mt-4" id="hlkanoImage">
        <div class="card card-body">
          <h6 style=" text-align: left;color:darkcyan; margin-top: 0px"></h6>
          <img src="/insaas/img/hl.PNG" width="70%" />
        </div>
      </div>
    </div>
  </div> -->

  <div ng-controller='dashLoader' style="top: -10px;">
    <iframe  src="{{updateApiUrl}}" style="height: 700px;width:100%;top:-30px;border: none;"
      title="Iframe Example"></iframe>
  </div>
  <!-- </div> -->
  </div>
</main>