 
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="icon" type="image/x-icon" href="..../favicon.ico">

  <title>Login | INSAAS</title>
</head>
  
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand"  title="Home">
      <img src="/img/logo_light.png" alt="Home" height="30">
    </a>
  </nav>
  <!-- /NAVBAR -->

 
