<nav class="navbar navbar-expand-md sticky-top navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/logo_INSAAS.png" height="30" alt="home">
    </a> 
  </div>
</nav>


<main class="container-fluid main py-5 vh-100">
  <div class="row">

    <!-- LOGIN CARD -->
    <div class="col-md-6 login-form">
      <div class="card shadow-sm mb-4">
        <div class="card-header">
          <h5 class="mb-0 font-weight-bold">Welcome</h5>
          <div class="text-danger ng-binding"></div>
        </div>

        <div class="card-body ng-scope" ng-controller="dashLoader">
          <form name="form" class="ng-pristine ng-invalid ng-invalid-required">
            <label for="username">Username</label>
            <div class="input-group mb-3">
              <input type="text" id="userName" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="user.username"
                placeholder="username" style="background-color: white; color: black; padding: 20px" required="">
            </div>

            <label for="password">Password</label>
            <input type="password" id="text" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="user.password"
              placeholder="password" style="background-color: white; color: black; padding: 20px" required="">
            <br>
            <div class="mt-3 text-center">
              <input type="submit" ng-click="doLogin(user)" class="btn btn-lg btn-block btn-danger shadow font-weight-bold" value="Login">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /LOGIN CARD -->

    <!-- IMAGE -->
    <div class="col login-img text-right">
      <svg viewBox="0 0 623 704" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g transform="matrix(1,0,0,1,0,-1055.41)">
          <g id="final" transform="matrix(0.400907,0,0,0.831548,0,1055.41)">
              <rect x="0" y="0" width="1552.05" height="846.226" style="fill:none;"></rect>
              <clipPath id="_clip1">
                  <rect x="0" y="0" width="1552.05" height="846.226"></rect>
              </clipPath>
              <g clip-path="url(#_clip1)">
                  <g transform="matrix(1.39015,0,0,1.22924,1.63309e-13,-94.3905)">
                      <g transform="matrix(1.55205,0,0,0.846226,0,-922.793)">
                          <g>
                              <path d="M552.847,1496.86C561.076,1496.86 567.757,1503.54 567.757,1511.77L567.757,1557.35C567.757,1565.58 561.076,1572.26 552.847,1572.26L298.793,1572.26C290.564,1572.26 283.883,1565.58 283.883,1557.35L283.883,1511.77C283.883,1503.54 290.564,1496.86 298.793,1496.86L552.847,1496.86ZM418.874,1518.03C421.358,1518.03 423.593,1518.63 425.58,1519.84C427.567,1521.04 429.12,1522.79 430.237,1525.08C431.355,1527.37 431.914,1530.06 431.914,1533.14C431.914,1536.23 431.355,1538.92 430.237,1541.21C429.12,1543.5 427.567,1545.24 425.58,1546.45C423.593,1547.66 421.358,1548.26 418.874,1548.26C416.39,1548.26 414.27,1547.66 412.513,1546.48C410.757,1545.29 409.506,1543.7 408.761,1541.71C408.761,1541.71 408.761,1554.83 408.761,1559.94C408.761,1561.04 407.865,1561.94 406.761,1561.94C405.676,1561.94 404.34,1561.94 403.256,1561.94C402.151,1561.94 401.256,1561.04 401.256,1559.94C401.256,1552.67 401.256,1527.67 401.256,1520.4C401.256,1519.3 402.151,1518.4 403.256,1518.4C405.479,1518.4 408.761,1518.4 408.761,1518.4C408.761,1518.4 408.761,1518.4 408.761,1518.4C408.761,1519.19 409.203,1519.91 409.906,1520.27C410.608,1520.62 411.451,1520.56 412.088,1520.09C412.223,1519.98 412.366,1519.88 412.513,1519.78C414.27,1518.61 416.39,1518.03 418.874,1518.03ZM394.762,1527.98C394.23,1524.96 392.881,1522.55 390.717,1520.74C388.552,1518.93 385.678,1518.03 382.094,1518.03C378.652,1518.03 375.955,1518.83 374.004,1520.42C372.052,1522.02 371.076,1524.09 371.076,1526.65C371.076,1528.64 371.564,1530.2 372.54,1531.33C373.516,1532.47 374.687,1533.29 376.053,1533.81C377.419,1534.32 379.202,1534.83 381.402,1535.33C382.999,1535.72 384.232,1536.05 385.101,1536.34C385.971,1536.62 386.698,1537.03 387.284,1537.56C387.869,1538.09 388.162,1538.79 388.162,1539.64C388.162,1540.63 387.825,1541.44 387.151,1542.06C386.476,1542.68 385.501,1542.99 384.223,1542.99C382.449,1542.99 381.012,1542.57 379.912,1541.74C378.812,1540.9 378.173,1539.76 377.996,1538.31L370.81,1538.31C371.307,1541.5 372.709,1543.96 375.015,1545.68C377.322,1547.4 380.391,1548.26 384.223,1548.26C387.559,1548.26 390.211,1547.48 392.181,1545.92C394.15,1544.36 395.135,1542.32 395.135,1539.8C395.135,1537.77 394.629,1536.17 393.618,1534.98C392.606,1533.79 391.4,1532.92 389.998,1532.37C388.597,1531.82 386.778,1531.3 384.543,1530.8C382.946,1530.41 381.722,1530.07 380.87,1529.79C380.018,1529.51 379.309,1529.12 378.741,1528.62C378.173,1528.12 377.889,1527.46 377.889,1526.65C377.889,1525.62 378.244,1524.8 378.954,1524.2C379.663,1523.6 380.657,1523.3 381.934,1523.3C383.531,1523.3 384.826,1523.72 385.82,1524.57C386.814,1525.42 387.452,1526.56 387.736,1527.98L394.762,1527.98ZM498.873,1529.52C498.234,1525.98 496.646,1523.17 494.109,1521.11C491.572,1519.06 488.405,1518.03 484.608,1518.03C481.734,1518.03 479.179,1518.63 476.944,1519.84C474.708,1521.04 472.969,1522.79 471.727,1525.08C470.486,1527.37 469.865,1530.06 469.865,1533.14C469.865,1536.23 470.486,1538.91 471.727,1541.18C472.969,1543.45 474.708,1545.2 476.944,1546.42C479.179,1547.65 481.734,1548.26 484.608,1548.26C488.405,1548.26 491.572,1547.23 494.109,1545.17C496.646,1543.11 498.234,1540.31 498.873,1536.76L490.942,1536.76C490.623,1538.32 489.895,1539.56 488.76,1540.46C487.624,1541.37 486.187,1541.82 484.449,1541.82C482.461,1541.82 480.803,1541.08 479.472,1539.61C478.141,1538.14 477.476,1535.98 477.476,1533.14C477.476,1530.3 478.141,1528.15 479.472,1526.68C480.803,1525.2 482.461,1524.47 484.449,1524.47C486.187,1524.47 487.624,1524.92 488.76,1525.82C489.895,1526.73 490.623,1527.96 490.942,1529.52L498.873,1529.52ZM465.234,1534.58C465.411,1533.62 465.5,1532.77 465.5,1532.03C465.5,1529.33 464.906,1526.92 463.717,1524.81C462.528,1522.7 460.843,1521.04 458.66,1519.84C456.478,1518.63 453.932,1518.03 451.022,1518.03C448.148,1518.03 445.593,1518.63 443.358,1519.84C441.122,1521.04 439.384,1522.79 438.142,1525.08C436.9,1527.37 436.279,1530.06 436.279,1533.14C436.279,1536.23 436.9,1538.91 438.142,1541.18C439.384,1543.45 441.122,1545.2 443.358,1546.42C445.593,1547.65 448.148,1548.26 451.022,1548.26C453.471,1548.26 455.697,1547.8 457.702,1546.88C459.707,1545.95 461.348,1544.67 462.626,1543.04C463.903,1541.41 464.737,1539.57 465.127,1537.51L457.197,1537.51C456.877,1538.96 456.141,1540.12 454.988,1540.97C453.835,1541.82 452.389,1542.25 450.65,1542.25C448.698,1542.25 447.066,1541.62 445.753,1540.38C444.44,1539.14 443.73,1537.21 443.624,1534.58L465.234,1534.58ZM513.83,1518.4L513.83,1513.11C513.83,1512 512.934,1511.11 511.83,1511.11C510.745,1511.11 509.409,1511.11 508.325,1511.11C507.22,1511.11 506.325,1512 506.325,1513.11C506.325,1515.27 506.325,1518.4 506.325,1518.4L502.226,1518.4L502.226,1524.73L506.325,1524.73L506.325,1537.51C506.325,1541.23 507.203,1543.89 508.959,1545.49C510.716,1547.09 513.244,1547.89 516.544,1547.89C516.544,1547.89 517.508,1547.89 518.483,1547.89C519.587,1547.89 520.483,1546.99 520.483,1545.89C520.483,1545.11 520.483,1544.22 520.483,1543.45C520.483,1542.34 519.588,1541.45 518.483,1541.45L517.555,1541.45C516.207,1541.45 515.249,1541.16 514.681,1540.6C514.113,1540.03 513.83,1539.03 513.83,1537.61L513.83,1524.73L520.43,1524.73L520.43,1518.4L513.83,1518.4ZM356.812,1540.33L358.955,1546.54C359.233,1547.35 359.992,1547.89 360.845,1547.89C361.854,1547.89 363.241,1547.89 364.475,1547.89C365.13,1547.89 365.743,1547.57 366.117,1547.03C366.491,1546.49 366.578,1545.81 366.35,1545.19C363.607,1537.8 356.038,1517.4 354.049,1512.04C353.758,1511.26 353.01,1510.74 352.174,1510.74C350.579,1510.74 347.979,1510.74 346.385,1510.74C345.549,1510.74 344.802,1511.25 344.51,1512.04C342.515,1517.39 334.916,1537.79 332.162,1545.19C331.933,1545.8 332.019,1546.49 332.393,1547.03C332.767,1547.57 333.381,1547.89 334.036,1547.89C335.273,1547.89 336.663,1547.89 337.671,1547.89C338.52,1547.89 339.276,1547.35 339.558,1546.55L341.749,1540.33L356.812,1540.33ZM416.532,1524.57C414.261,1524.57 412.389,1525.35 410.916,1526.89C409.444,1528.43 408.707,1530.52 408.707,1533.14C408.707,1535.73 409.444,1537.8 410.916,1539.34C412.389,1540.89 414.261,1541.66 416.532,1541.66C418.874,1541.66 420.754,1540.9 422.174,1539.4C423.593,1537.89 424.303,1535.8 424.303,1533.14C424.303,1530.48 423.593,1528.39 422.174,1526.86C420.754,1525.34 418.874,1524.57 416.532,1524.57ZM354.789,1534.63L349.253,1518.77L343.718,1534.63L354.789,1534.63ZM457.942,1531.28C458.048,1528.87 457.418,1527.04 456.052,1525.8C454.686,1524.56 453.01,1523.93 451.022,1523.93C449,1523.93 447.297,1524.56 445.913,1525.8C444.529,1527.04 443.766,1528.87 443.624,1531.28L457.942,1531.28Z" style="fill:#c9d0e7;"></path>
                          </g>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.750693,41.0861,-793.822)">
                          <rect x="415.686" y="1314.55" width="8.454" height="64.342" style="fill:#c9d0e7;fill-rule:nonzero;"></rect>
                      </g>
                      <g transform="matrix(1.55205,0,0,0.846226,0,-922.793)">
                          <g>
                              <path d="M625.987,1371.88C634.216,1371.88 640.897,1378.56 640.897,1386.79L640.897,1432.37C640.897,1440.6 634.216,1447.28 625.987,1447.28L300.965,1447.28C292.736,1447.28 286.054,1440.6 286.054,1432.37L286.054,1386.79C286.054,1378.56 292.735,1371.88 300.965,1371.88L625.987,1371.88ZM383.743,1417.11C383.92,1416.15 384.009,1415.3 384.009,1414.56C384.009,1411.86 383.414,1409.46 382.226,1407.35C381.037,1405.23 379.352,1403.58 377.169,1402.37C374.987,1401.16 372.441,1400.56 369.531,1400.56C366.657,1400.56 364.102,1401.16 361.867,1402.37C359.631,1403.58 357.892,1405.32 356.65,1407.61C355.408,1409.9 354.788,1412.59 354.788,1415.67C354.788,1418.76 355.408,1421.44 356.65,1423.71C357.892,1425.98 359.631,1427.73 361.867,1428.95C364.102,1430.18 366.657,1430.79 369.531,1430.79C371.98,1430.79 374.206,1430.33 376.211,1429.41C378.216,1428.49 379.857,1427.21 381.135,1425.58C382.412,1423.94 383.246,1422.1 383.636,1420.04L375.706,1420.04C375.386,1421.49 374.65,1422.65 373.497,1423.5C372.343,1424.35 370.897,1424.78 369.159,1424.78C367.207,1424.78 365.575,1424.16 364.262,1422.91C362.949,1421.67 362.239,1419.74 362.133,1417.11L383.743,1417.11ZM545.977,1417.11C546.154,1416.15 546.243,1415.3 546.243,1414.56C546.243,1411.86 545.649,1409.46 544.46,1407.35C543.271,1405.23 541.586,1403.58 539.403,1402.37C537.221,1401.16 534.675,1400.56 531.765,1400.56C528.891,1400.56 526.336,1401.16 524.101,1402.37C521.865,1403.58 520.127,1405.32 518.885,1407.61C517.643,1409.9 517.022,1412.59 517.022,1415.67C517.022,1418.76 517.643,1421.44 518.885,1423.71C520.127,1425.98 521.865,1427.73 524.101,1428.95C526.336,1430.18 528.891,1430.79 531.765,1430.79C534.214,1430.79 536.44,1430.33 538.445,1429.41C540.45,1428.49 542.091,1427.21 543.369,1425.58C544.646,1423.94 545.48,1422.1 545.87,1420.04L537.94,1420.04C537.62,1421.49 536.884,1422.65 535.731,1423.5C534.578,1424.35 533.132,1424.78 531.393,1424.78C529.441,1424.78 527.809,1424.16 526.496,1422.91C525.183,1421.67 524.473,1419.74 524.367,1417.11L545.977,1417.11ZM349.465,1402.85C349.146,1399.65 347.806,1397.1 345.446,1395.18C343.087,1393.27 339.92,1392.31 335.945,1392.31C332.113,1392.31 329.035,1393.24 326.711,1395.1C324.386,1396.97 323.224,1399.51 323.224,1402.74C323.224,1405.08 323.748,1406.98 324.794,1408.44C325.841,1409.89 327.11,1411 328.6,1411.76C330.09,1412.53 332.007,1413.3 334.349,1414.08C336.158,1414.68 337.578,1415.21 338.607,1415.67C339.636,1416.14 340.487,1416.75 341.162,1417.51C341.836,1418.27 342.173,1419.24 342.173,1420.41C342.173,1421.73 341.756,1422.8 340.922,1423.63C340.088,1424.47 338.891,1424.88 337.329,1424.88C335.591,1424.88 334.198,1424.38 333.151,1423.37C332.104,1422.36 331.492,1421.09 331.315,1419.56L323.331,1419.56C323.508,1421.83 324.227,1423.82 325.486,1425.52C326.746,1427.23 328.423,1428.53 330.516,1429.43C332.61,1430.34 334.987,1430.79 337.649,1430.79C340.345,1430.79 342.634,1430.3 344.515,1429.33C346.395,1428.35 347.815,1427.06 348.773,1425.44C349.731,1423.83 350.21,1422.06 350.21,1420.15C350.21,1417.73 349.678,1415.78 348.613,1414.29C347.549,1412.8 346.262,1411.68 344.754,1410.94C343.246,1410.19 341.286,1409.39 338.873,1408.54C337.134,1407.98 335.759,1407.46 334.748,1407C333.736,1406.54 332.903,1405.94 332.246,1405.22C331.59,1404.49 331.261,1403.58 331.261,1402.48C331.261,1401.09 331.687,1400.04 332.539,1399.31C333.391,1398.58 334.508,1398.22 335.892,1398.22C337.489,1398.22 338.749,1398.65 339.671,1399.52C340.594,1400.39 341.162,1401.5 341.374,1402.85L349.465,1402.85ZM434.84,1400.93L434.84,1395.64C434.84,1394.53 433.945,1393.64 432.84,1393.64C431.756,1393.64 430.42,1393.64 429.335,1393.64C428.231,1393.64 427.335,1394.53 427.335,1395.64C427.335,1397.8 427.335,1400.93 427.335,1400.93L423.237,1400.93L423.237,1407.27L427.335,1407.27L427.335,1420.04C427.335,1423.77 428.213,1426.43 429.97,1428.02C431.726,1429.62 434.255,1430.42 437.555,1430.42C437.555,1430.42 438.519,1430.42 439.493,1430.42C440.598,1430.42 441.493,1429.52 441.493,1428.42C441.493,1427.64 441.493,1426.76 441.493,1425.98C441.493,1424.87 440.598,1423.98 439.493,1423.98C438.978,1423.98 438.566,1423.98 438.566,1423.98C437.218,1423.98 436.259,1423.69 435.692,1423.13C435.124,1422.56 434.84,1421.57 434.84,1420.15L434.84,1407.27L441.44,1407.27L441.44,1400.93L434.84,1400.93ZM597.074,1400.93L597.074,1395.64C597.074,1394.53 596.179,1393.64 595.074,1393.64C593.99,1393.64 592.654,1393.64 591.569,1393.64C590.465,1393.64 589.569,1394.53 589.569,1395.64C589.569,1397.8 589.569,1400.93 589.569,1400.93L585.471,1400.93L585.471,1407.27L589.569,1407.27L589.569,1420.04C589.569,1423.77 590.448,1426.43 592.204,1428.02C593.96,1429.62 596.489,1430.42 599.789,1430.42C599.789,1430.42 600.753,1430.42 601.728,1430.42C602.832,1430.42 603.727,1429.52 603.728,1428.42C603.728,1427.64 603.728,1426.76 603.728,1425.98C603.727,1424.87 602.832,1423.98 601.727,1423.98C601.212,1423.98 600.8,1423.98 600.8,1423.98C599.452,1423.98 598.494,1423.69 597.926,1423.13C597.358,1422.56 597.074,1421.57 597.074,1420.15L597.074,1407.27L603.674,1407.27L603.674,1400.93L597.074,1400.93ZM452.906,1400.93C454.011,1400.93 454.906,1401.83 454.906,1402.93C454.906,1408.31 454.906,1423.04 454.906,1428.42C454.906,1429.52 454.011,1430.42 452.906,1430.42C451.822,1430.42 450.486,1430.42 449.401,1430.42C448.297,1430.42 447.401,1429.52 447.401,1428.42C447.401,1423.04 447.401,1408.31 447.401,1402.93C447.401,1401.83 448.297,1400.93 449.401,1400.93C450.486,1400.93 451.822,1400.93 452.906,1400.93ZM569.663,1400.51C573.069,1400.51 575.784,1401.62 577.806,1403.86C579.829,1406.09 580.84,1409.23 580.84,1413.28C580.84,1413.28 580.84,1423.9 580.84,1428.42C580.84,1429.52 579.945,1430.42 578.84,1430.42C577.771,1430.42 576.458,1430.42 575.388,1430.42C574.284,1430.42 573.388,1429.52 573.388,1428.42C573.388,1424.07 573.388,1414.13 573.388,1414.13C573.388,1411.79 572.785,1409.97 571.579,1408.67C570.372,1407.38 568.722,1406.73 566.629,1406.73C564.5,1406.73 562.796,1407.42 561.519,1408.81C560.242,1410.19 559.603,1412.18 559.603,1414.77C559.603,1414.77 559.603,1424.2 559.603,1428.42C559.603,1429.52 558.707,1430.42 557.603,1430.42C556.518,1430.42 555.182,1430.42 554.098,1430.42C552.993,1430.42 552.098,1429.52 552.098,1428.42C552.098,1423.04 552.098,1408.31 552.098,1402.93C552.098,1401.83 552.993,1400.93 554.098,1400.93C556.321,1400.93 559.603,1400.93 559.603,1400.93C559.603,1400.93 559.603,1400.93 559.603,1400.93C559.603,1401.7 560.034,1402.41 560.719,1402.76C561.403,1403.11 562.227,1403.05 562.854,1402.61C563.045,1402.45 563.25,1402.31 563.462,1402.18C565.254,1401.06 567.321,1400.51 569.663,1400.51ZM407.428,1400.51C410.835,1400.51 413.549,1401.62 415.572,1403.86C417.595,1406.09 418.606,1409.23 418.606,1413.28C418.606,1413.28 418.606,1423.9 418.606,1428.42C418.606,1429.52 417.711,1430.42 416.606,1430.42C415.537,1430.42 414.224,1430.42 413.154,1430.42C412.05,1430.42 411.154,1429.52 411.154,1428.42C411.154,1424.07 411.154,1414.13 411.154,1414.13C411.154,1411.79 410.551,1409.97 409.345,1408.67C408.138,1407.38 406.488,1406.73 404.395,1406.73C402.265,1406.73 400.562,1407.42 399.285,1408.81C398.007,1410.19 397.369,1412.18 397.369,1414.77C397.369,1414.77 397.369,1424.2 397.369,1428.42C397.369,1429.52 396.473,1430.42 395.369,1430.42C394.284,1430.42 392.948,1430.42 391.864,1430.42C390.759,1430.42 389.864,1429.52 389.864,1428.42C389.864,1423.04 389.864,1408.31 389.864,1402.93C389.864,1401.83 390.759,1400.93 391.864,1400.93C394.087,1400.93 397.369,1400.93 397.369,1400.93C397.369,1400.93 397.369,1400.93 397.369,1400.93C397.369,1401.7 397.8,1402.41 398.484,1402.76C399.169,1403.11 399.993,1403.05 400.62,1402.61C400.811,1402.45 401.016,1402.31 401.228,1402.18C403.02,1401.06 405.086,1400.51 407.428,1400.51ZM499.776,1400.51C503.36,1400.51 506.19,1401.61 508.266,1403.83C510.342,1406.05 511.38,1409.2 511.38,1413.28C511.38,1413.28 511.38,1423.9 511.38,1428.42C511.38,1429.52 510.484,1430.42 509.38,1430.42C508.31,1430.42 506.997,1430.42 505.928,1430.42C504.823,1430.42 503.928,1429.52 503.928,1428.42C503.928,1424.07 503.928,1414.13 503.928,1414.13C503.928,1411.86 503.351,1410.11 502.198,1408.89C501.045,1407.66 499.457,1407.05 497.434,1407.05C495.341,1407.05 493.673,1407.71 492.431,1409.02C491.189,1410.33 490.568,1412.25 490.568,1414.77C490.568,1414.77 490.568,1424.2 490.568,1428.42C490.568,1429.52 489.673,1430.42 488.568,1430.42C487.499,1430.42 486.186,1430.42 485.116,1430.42C484.012,1430.42 483.116,1429.52 483.116,1428.42C483.116,1424.07 483.116,1414.13 483.116,1414.13C483.116,1411.86 482.54,1410.11 481.387,1408.89C480.233,1407.66 478.645,1407.05 476.623,1407.05C474.529,1407.05 472.861,1407.71 471.62,1409.02C470.378,1410.33 469.757,1412.25 469.757,1414.77C469.757,1414.77 469.757,1424.2 469.757,1428.42C469.757,1429.52 468.861,1430.42 467.757,1430.42C466.672,1430.42 465.336,1430.42 464.252,1430.42C463.147,1430.42 462.252,1429.52 462.252,1428.42C462.252,1423.04 462.252,1408.31 462.252,1402.93C462.252,1401.83 463.147,1400.93 464.252,1400.93C466.475,1400.93 469.757,1400.93 469.757,1400.93C469.757,1400.93 469.757,1400.93 469.757,1400.93C469.757,1401.66 470.165,1402.33 470.815,1402.66C471.464,1403 472.244,1402.94 472.836,1402.51C473.031,1402.35 473.239,1402.21 473.456,1402.08C475.141,1401.03 477.102,1400.51 479.337,1400.51C481.715,1400.51 483.782,1401.07 485.538,1402.21C487.295,1403.34 488.616,1404.98 489.504,1407.11C490.426,1405.08 491.801,1403.48 493.629,1402.29C495.456,1401.1 497.505,1400.51 499.776,1400.51ZM376.451,1413.81C376.557,1411.4 375.927,1409.57 374.561,1408.33C373.195,1407.09 371.518,1406.47 369.531,1406.47C367.509,1406.47 365.805,1407.09 364.422,1408.33C363.038,1409.57 362.275,1411.4 362.133,1413.81L376.451,1413.81ZM538.685,1413.81C538.791,1411.4 538.161,1409.57 536.795,1408.33C535.429,1407.09 533.752,1406.47 531.765,1406.47C529.743,1406.47 528.04,1407.09 526.656,1408.33C525.272,1409.57 524.509,1411.4 524.367,1413.81L538.685,1413.81ZM446.55,1392.47C446.55,1391.26 446.976,1390.28 447.827,1389.51C448.679,1388.75 449.797,1388.37 451.181,1388.37C452.564,1388.37 453.682,1388.75 454.534,1389.51C455.385,1390.28 455.811,1391.26 455.811,1392.47C455.811,1393.64 455.385,1394.61 454.534,1395.37C453.682,1396.13 452.564,1396.51 451.181,1396.51C449.797,1396.51 448.679,1396.13 447.827,1395.37C446.976,1394.61 446.55,1393.64 446.55,1392.47Z" style="fill:#c9d0e7;"></path>
                          </g>
                      </g>
                      <g transform="matrix(1.55205,0,0,0.846226,0,-922.793)">
                          <g>
                              <path d="M505.057,1246.9C513.286,1246.9 519.967,1253.58 519.967,1261.81L519.967,1307.39C519.967,1315.62 513.286,1322.3 505.057,1322.3L224.39,1322.3C216.16,1322.3 209.479,1315.62 209.479,1307.39L209.479,1261.81C209.479,1253.58 216.16,1246.9 224.39,1246.9L505.057,1246.9ZM316.837,1270.51C319.295,1270.51 321.508,1271.11 323.474,1272.32C325.441,1273.53 326.977,1275.28 328.083,1277.56C329.189,1279.85 329.743,1282.54 329.743,1285.63C329.743,1288.71 329.189,1291.4 328.083,1293.69C326.977,1295.98 325.441,1297.73 323.474,1298.93C321.508,1300.14 319.295,1300.74 316.837,1300.74C314.379,1300.74 312.28,1300.15 310.542,1298.96C308.804,1297.77 307.566,1296.18 306.828,1294.2C306.828,1294.2 306.828,1307.32 306.828,1312.42C306.828,1313.53 305.933,1314.42 304.828,1314.42C303.766,1314.42 302.464,1314.42 301.401,1314.42C300.296,1314.42 299.401,1313.53 299.401,1312.42C299.401,1305.15 299.401,1280.16 299.401,1272.88C299.401,1271.78 300.296,1270.88 301.401,1270.88C303.601,1270.88 306.828,1270.88 306.828,1270.88C306.828,1270.88 306.828,1270.88 306.828,1270.89C306.829,1271.67 307.27,1272.39 307.969,1272.74C308.668,1273.1 309.507,1273.03 310.139,1272.56C310.267,1272.46 310.403,1272.36 310.542,1272.27C312.28,1271.1 314.379,1270.51 316.837,1270.51ZM413.919,1270.51C416.764,1270.51 419.319,1271.11 421.584,1272.32C423.849,1273.53 425.631,1275.28 426.93,1277.56C428.23,1279.85 428.879,1282.54 428.879,1285.63C428.879,1288.71 428.23,1291.39 426.93,1293.66C425.631,1295.94 423.849,1297.68 421.584,1298.91C419.319,1300.13 416.764,1300.74 413.919,1300.74C411.075,1300.74 408.52,1300.13 406.255,1298.91C403.99,1297.68 402.208,1295.94 400.908,1293.66C399.609,1291.39 398.959,1288.71 398.959,1285.63C398.959,1282.54 399.609,1279.85 400.908,1277.56C402.208,1275.28 403.99,1273.53 406.255,1272.32C408.52,1271.11 411.075,1270.51 413.919,1270.51ZM274.696,1262.26C278.173,1262.26 281.324,1263.08 284.151,1264.71C286.978,1266.34 289.208,1268.62 290.841,1271.55C292.474,1274.48 293.291,1277.79 293.291,1281.48C293.291,1285.17 292.474,1288.48 290.841,1291.43C289.208,1294.37 286.978,1296.66 284.151,1298.3C281.324,1299.93 278.173,1300.74 274.696,1300.74C271.219,1300.74 268.067,1299.93 265.241,1298.3C262.414,1296.66 260.184,1294.37 258.551,1291.43C256.918,1288.48 256.101,1285.17 256.101,1281.48C256.101,1277.79 256.918,1274.48 258.551,1271.55C260.184,1268.62 262.414,1266.34 265.241,1264.71C268.067,1263.08 271.219,1262.26 274.696,1262.26ZM391.165,1270.88C391.695,1270.88 392.204,1271.09 392.579,1271.47C392.954,1271.85 393.165,1272.35 393.165,1272.88C393.165,1278.26 393.165,1292.99 393.165,1298.37C393.165,1298.9 392.954,1299.41 392.579,1299.79C392.204,1300.16 391.695,1300.37 391.165,1300.37C390.102,1300.37 388.8,1300.37 387.737,1300.37C387.207,1300.37 386.698,1300.16 386.323,1299.79C385.948,1299.41 385.737,1298.9 385.737,1298.37C385.737,1292.99 385.737,1278.26 385.737,1272.88C385.737,1272.35 385.948,1271.85 386.323,1271.47C386.698,1271.09 387.207,1270.88 387.737,1270.88C388.8,1270.88 390.102,1270.88 391.165,1270.88ZM340.964,1270.88C341.495,1270.88 342.003,1271.09 342.379,1271.47C342.754,1271.85 342.964,1272.35 342.964,1272.88C342.964,1278.26 342.964,1292.99 342.964,1298.37C342.964,1298.9 342.754,1299.41 342.379,1299.79C342.003,1300.16 341.495,1300.37 340.964,1300.37C339.902,1300.37 338.6,1300.37 337.537,1300.37C337.007,1300.37 336.498,1300.16 336.123,1299.79C335.748,1299.41 335.537,1298.9 335.537,1298.37C335.537,1292.99 335.537,1278.26 335.537,1272.88C335.537,1272.35 335.748,1271.85 336.123,1271.47C336.498,1271.09 337.007,1270.88 337.537,1270.88C338.6,1270.88 339.902,1270.88 340.964,1270.88ZM367.617,1270.46C370.988,1270.46 373.675,1271.58 375.676,1273.81C377.678,1276.05 378.679,1279.19 378.679,1283.23C378.679,1283.23 378.679,1293.85 378.679,1298.37C378.679,1298.9 378.468,1299.41 378.093,1299.79C377.718,1300.16 377.209,1300.37 376.679,1300.37C375.631,1300.37 374.352,1300.37 373.304,1300.37C372.2,1300.37 371.304,1299.48 371.304,1298.37C371.304,1294.02 371.304,1284.08 371.304,1284.08C371.304,1281.74 370.707,1279.92 369.513,1278.63C368.319,1277.33 366.686,1276.68 364.614,1276.68C362.507,1276.68 360.822,1277.38 359.557,1278.76C358.293,1280.14 357.661,1282.13 357.661,1284.72C357.661,1284.72 357.661,1294.15 357.661,1298.37C357.661,1298.9 357.45,1299.41 357.075,1299.79C356.7,1300.16 356.191,1300.37 355.661,1300.37C354.598,1300.37 353.296,1300.37 352.234,1300.37C351.703,1300.37 351.194,1300.16 350.819,1299.79C350.444,1299.41 350.234,1298.9 350.234,1298.37C350.234,1292.99 350.234,1278.26 350.234,1272.88C350.234,1272.35 350.444,1271.85 350.819,1271.47C351.194,1271.09 351.703,1270.88 352.234,1270.88C354.434,1270.88 357.661,1270.88 357.661,1270.88C357.661,1270.88 357.661,1270.88 357.661,1270.88C357.661,1271.65 358.09,1272.35 358.772,1272.7C359.454,1273.05 360.275,1272.99 360.897,1272.55C361.081,1272.4 361.277,1272.26 361.48,1272.13C363.253,1271.02 365.299,1270.46 367.617,1270.46ZM452.057,1270.46C455.428,1270.46 458.115,1271.58 460.116,1273.81C462.118,1276.05 463.119,1279.19 463.119,1283.23C463.119,1283.23 463.119,1293.85 463.119,1298.37C463.119,1298.9 462.908,1299.41 462.533,1299.79C462.158,1300.16 461.649,1300.37 461.119,1300.37C460.071,1300.37 458.792,1300.37 457.744,1300.37C456.64,1300.37 455.744,1299.48 455.744,1298.37C455.744,1294.02 455.744,1284.08 455.744,1284.08C455.744,1281.74 455.147,1279.92 453.953,1278.63C452.759,1277.33 451.126,1276.68 449.054,1276.68C446.947,1276.68 445.262,1277.38 443.997,1278.76C442.733,1280.14 442.101,1282.13 442.101,1284.72C442.101,1284.72 442.101,1294.15 442.101,1298.37C442.101,1298.9 441.89,1299.41 441.515,1299.79C441.14,1300.16 440.631,1300.37 440.101,1300.37C439.038,1300.37 437.736,1300.37 436.674,1300.37C436.143,1300.37 435.635,1300.16 435.259,1299.79C434.884,1299.41 434.674,1298.9 434.674,1298.37C434.674,1292.99 434.674,1278.26 434.674,1272.88C434.674,1272.35 434.884,1271.85 435.259,1271.47C435.635,1271.09 436.143,1270.88 436.674,1270.88C438.874,1270.88 442.101,1270.88 442.101,1270.88C442.101,1270.88 442.101,1270.88 442.101,1270.88C442.101,1271.65 442.53,1272.35 443.212,1272.7C443.894,1273.05 444.715,1272.99 445.337,1272.55C445.521,1272.4 445.717,1272.26 445.92,1272.13C447.693,1271.02 449.739,1270.46 452.057,1270.46ZM413.919,1277.01C411.847,1277.01 410.091,1277.74 408.652,1279.21C407.212,1280.69 406.492,1282.82 406.492,1285.63C406.492,1288.43 407.212,1290.57 408.652,1292.04C410.091,1293.51 411.847,1294.25 413.919,1294.25C415.991,1294.25 417.747,1293.51 419.187,1292.04C420.627,1290.57 421.347,1288.43 421.347,1285.63C421.347,1282.82 420.627,1280.69 419.187,1279.21C417.747,1277.74 415.991,1277.01 413.919,1277.01ZM314.519,1277.06C312.272,1277.06 310.419,1277.83 308.962,1279.37C307.504,1280.92 306.776,1283 306.776,1285.63C306.776,1288.22 307.504,1290.29 308.962,1291.83C310.419,1293.37 312.272,1294.14 314.519,1294.14C316.837,1294.14 318.698,1293.39 320.103,1291.88C321.508,1290.37 322.21,1288.29 322.21,1285.63C322.21,1282.97 321.508,1280.87 320.103,1279.35C318.698,1277.82 316.837,1277.06 314.519,1277.06ZM274.696,1269.18C272.519,1269.18 270.605,1269.68 268.954,1270.67C267.304,1271.66 266.013,1273.09 265.082,1274.96C264.152,1276.82 263.687,1278.99 263.687,1281.48C263.687,1283.96 264.152,1286.13 265.082,1288C266.013,1289.86 267.304,1291.29 268.954,1292.28C270.605,1293.27 272.519,1293.77 274.696,1293.77C276.873,1293.77 278.787,1293.27 280.438,1292.28C282.088,1291.29 283.379,1289.86 284.309,1288C285.24,1286.13 285.705,1283.96 285.705,1281.48C285.705,1278.99 285.24,1276.82 284.309,1274.96C283.379,1273.09 282.088,1271.66 280.438,1270.67C278.787,1269.68 276.873,1269.18 274.696,1269.18ZM384.895,1262.42C384.895,1261.21 385.316,1260.23 386.159,1259.47C387.002,1258.7 388.108,1258.32 389.477,1258.32C390.847,1258.32 391.953,1258.7 392.796,1259.47C393.639,1260.23 394.06,1261.21 394.06,1262.42C394.06,1263.59 393.639,1264.56 392.796,1265.32C391.953,1266.09 390.847,1266.47 389.477,1266.47C388.108,1266.47 387.002,1266.09 386.159,1265.32C385.316,1264.56 384.895,1263.59 384.895,1262.42ZM334.694,1262.42C334.694,1261.21 335.116,1260.23 335.958,1259.47C336.801,1258.7 337.907,1258.32 339.277,1258.32C340.647,1258.32 341.753,1258.7 342.596,1259.47C343.438,1260.23 343.86,1261.21 343.86,1262.42C343.86,1263.59 343.438,1264.56 342.596,1265.32C341.753,1266.09 340.647,1266.47 339.277,1266.47C337.907,1266.47 336.801,1266.09 335.958,1265.32C335.116,1264.56 334.694,1263.59 334.694,1262.42Z" style="fill:#c9d0e7;"></path>
                          </g>
                      </g>
                      <g transform="matrix(1.04882,0,0,0.750693,115.533,-792.474)">
                          <path d="M140.803,1232.09C142.416,1232.19 143.894,1232.77 144.936,1233.75C151.87,1240.68 157.991,1248.56 166.193,1253.86C173.148,1258.35 182.206,1260.84 191.309,1260.87L204.25,1260.87C207.374,1260.95 207.633,1261.6 208.487,1262.37C211.056,1264.68 209.108,1269.08 204.62,1269.31C204.497,1269.32 204.373,1269.32 204.25,1269.32C195.601,1269.32 186.981,1269.72 178.8,1268.11C168.171,1266.02 158.563,1261.17 151.791,1254.55L151.575,1254.34L136.107,1238.87C136.107,1238.87 133.937,1231.99 140.803,1232.09Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.28955,0,0,-0.750693,192.219,1335.78)">
                          <path d="M204.587,1269.31C205.682,1269.19 205.971,1269.05 206.506,1268.76C209.764,1266.99 208.934,1261.03 204.25,1260.87C195.448,1260.87 186.336,1261.77 178.512,1260.24C172.196,1259.01 166.34,1255.91 161.898,1251.5L143.815,1233.42C140.618,1230.45 133.045,1234.69 137.227,1239.2C145.09,1247.06 152.211,1256.06 161.184,1262.12C167.978,1266.72 176.287,1269.24 184.697,1269.32C184.697,1269.32 204.25,1269.32 204.25,1269.32C204.362,1269.32 204.474,1269.31 204.587,1269.31Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.56445,0,0,0.995371,132.181,-1002.33)">
                          <path d="M140.96,1233.14C142.366,1233.34 142.42,1233.38 143.346,1234.23C150.011,1240.9 156.65,1247.58 163.341,1254.23C168.24,1259.02 175.498,1261.88 183.006,1261.91L204.25,1261.91C207.967,1262.04 209.598,1268.09 204.25,1268.28C194.746,1268.28 184.764,1269.2 176.238,1267.69C169.102,1266.43 162.514,1263.1 157.725,1258.41L157.579,1258.26L137.696,1238.38C137.696,1238.38 136.297,1236.48 137.17,1234.92C137.795,1233.81 138.744,1233.13 140.653,1233.12C140.756,1233.13 140.858,1233.13 140.96,1233.14Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(0.880474,0,0,0.750693,147.413,-796.699)">
                          <path d="M207.486,1290.93C214.111,1291.31 216.249,1299.2 207.095,1299.37L147.406,1299.37C140.65,1299.25 138.252,1291.09 147.406,1290.92L207.095,1290.92C207.225,1290.92 207.356,1290.92 207.486,1290.93Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.750693,170.474,-606.491)">
                          <path d="M207.411,1290.93C211.558,1291.4 213.064,1299.15 207.095,1299.37L147.406,1299.37C146.375,1299.34 146.094,1299.21 145.572,1298.96C142.319,1297.39 142.828,1291.09 147.406,1290.92L207.095,1290.92C207.2,1290.92 207.305,1290.93 207.411,1290.93Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.750693,44.6184,-793.822)">
                          <path d="M621.277,1221.12C623.5,1221.43 623.625,1222.01 624.18,1222.72C625.455,1224.34 625.578,1226.43 623.841,1228.31C614.363,1237.79 604.915,1247.3 595.408,1256.74C588.408,1263.61 578.733,1267.63 568.911,1267.72C568.911,1267.72 550.94,1267.72 550.94,1267.72C550.94,1267.72 546.587,1266.53 546.716,1263.32C546.804,1261.15 548.267,1259.37 550.94,1259.27C565.112,1259.27 579.372,1260.76 589.602,1250.6L617.863,1222.33C619.276,1221.03 619.767,1221.03 621.277,1221.12Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.29959,0,0,0.841982,104.349,-911.249)">
                          <path d="M493.068,1186.72C495.429,1186.96 495.574,1187.48 496.176,1188.1C498.306,1190.29 496.658,1194.12 492.707,1194.25C482.406,1194.25 472.065,1193.67 461.811,1194.33C453.551,1194.85 445.6,1198.28 440.193,1203.65L423.339,1220.5C421.736,1221.98 421.158,1221.79 420.207,1221.84C416.786,1222.03 414.111,1218.23 416.486,1215.65C424.381,1207.76 431.564,1198.61 440.601,1193.12C447.335,1189.04 455.57,1186.78 463.905,1186.71L464.176,1186.71L492.707,1186.71C492.827,1186.72 492.948,1186.72 493.068,1186.72Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,-87.2392,-580.206)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(2.21799,0,0,1.03835,-80.9991,-1022.21)">
                          <path d="M492.982,1187.44C495.054,1187.82 496.035,1191.1 494.463,1192.75C494.015,1193.22 493.721,1193.48 492.707,1193.54C480.164,1193.54 467.621,1193.42 455.079,1193.54C450.836,1193.61 446.639,1195.43 443.397,1198.62C443.397,1198.62 421.622,1220.39 421.622,1220.39C421.622,1220.39 420.07,1221.55 418.789,1220.84C417.226,1219.98 416.879,1217.23 418.203,1215.76C425.502,1208.46 432.75,1201.09 440.101,1193.86C444.334,1189.75 449.778,1187.44 455.281,1187.42L492.707,1187.42C492.799,1187.43 492.89,1187.44 492.982,1187.44Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.10398,0,0,0.750693,187.359,-783.95)">
                          <path d="M629.815,1282.32C631.094,1282.44 631.432,1282.59 632.057,1282.88C635.863,1284.64 634.893,1290.6 629.421,1290.76L553.839,1290.76C548.564,1290.61 546.233,1282.54 553.839,1282.31L629.421,1282.31C629.552,1282.31 629.684,1282.32 629.815,1282.32Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,50.3208,-489.476)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.750693,13.7929,-793.822)">
                          <path d="M548.178,1452.95C549.278,1453.11 549.563,1453.29 550.084,1453.63C552.187,1455.02 552.812,1457.9 550.742,1460.15C544.705,1466.18 538.613,1472.17 532.632,1478.26C527.318,1483.74 524.247,1491.27 524.224,1498.93L524.224,1526.38C524.133,1528.62 523.573,1528.8 522.925,1529.43C520.597,1531.66 515.916,1530.04 515.769,1526.38C515.769,1507.1 512.701,1486.49 526.746,1472.19C526.746,1472.19 544.764,1454.17 544.764,1454.17C544.764,1454.17 545.957,1452.82 548.178,1452.95Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.31909,0,0,0.750693,229.223,-695.764)">
                          <path d="M629.785,1282.32C632.963,1282.7 632.88,1283.57 633.462,1284.84C634.646,1287.42 632.9,1290.63 629.421,1290.76L553.839,1290.76C549.429,1290.59 547.496,1282.56 553.839,1282.31L629.421,1282.31C629.543,1282.32 629.664,1282.32 629.785,1282.32Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.12933,0,0,0.750693,-225.78,-681.437)">
                          <path d="M629.806,1282.32C632.358,1282.56 632.513,1283.06 633.199,1283.66C635.867,1286.02 633.848,1290.63 629.421,1290.76L553.839,1290.76C548.539,1290.6 546.562,1282.53 553.839,1282.31L629.421,1282.31C629.55,1282.31 629.678,1282.32 629.806,1282.32Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,223.11,-401.291)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,-46.2463,-225.027)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.72877,0,0,0.750693,-79.7077,-594.034)">
                          <path d="M629.732,1282.33C632.369,1282.79 633.724,1287.33 631.689,1289.66C631.102,1290.33 630.698,1290.69 629.421,1290.76L553.839,1290.76C551.72,1290.64 551.23,1289.44 550.826,1288.42C549.827,1285.9 551.374,1282.45 553.839,1282.31L629.421,1282.31C629.525,1282.32 629.628,1282.32 629.732,1282.33Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,172.336,-299.561)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.750693,126.085,-811.12)">
                          <path d="M629.642,1282.32C633.783,1282.64 635.601,1290.6 629.421,1290.76L600.142,1290.76C595.988,1290.65 593.598,1282.48 600.142,1282.31L629.421,1282.31C629.495,1282.31 629.569,1282.31 629.642,1282.32Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,153.638,-516.647)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(8.4307e-17,-0.750693,1.37684,4.59667e-17,-1262.53,588.704)">
                          <path d="M633.643,1286.76C633.579,1287.57 633.481,1287.81 633.283,1288.26C632.613,1289.76 631.387,1290.71 629.421,1290.76L600.142,1290.76C595.785,1290.65 594.287,1282.46 600.142,1282.31L629.421,1282.31C630.237,1282.33 630.482,1282.42 630.936,1282.59C632.538,1283.21 633.595,1284.51 633.648,1286.54C633.646,1286.61 633.645,1286.68 633.643,1286.76Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(6.42032e-17,-0.571684,1.04852,3.50055e-17,-722.441,573.348)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(-1.33214e-16,1.18617,-1.37684,-4.59667e-17,2316.34,-304.173)">
                          <path d="M597.472,1286.26C597.525,1285.41 597.576,1285.28 597.67,1284.92C598.075,1283.38 598.813,1282.38 600.141,1282.31L629.421,1282.31C631.712,1282.43 633.29,1288.24 630.604,1290.33C630.259,1290.6 630.066,1290.73 629.421,1290.76L600.141,1290.76C599.604,1290.74 599.515,1290.66 599.282,1290.54C598.224,1289.97 597.512,1288.73 597.466,1286.54C597.468,1286.44 597.47,1286.35 597.472,1286.26Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(-6.42032e-17,0.571684,-1.04852,-3.50055e-17,1776.25,-13.4479)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.750693,70.8697,-634.094)">
                          <path d="M629.642,1282.32C633.927,1282.65 635.126,1290.62 629.421,1290.76L600.142,1290.76C595.914,1290.65 593.785,1282.48 600.142,1282.31L629.421,1282.31C629.495,1282.31 629.569,1282.31 629.642,1282.32Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,99.1866,-339.62)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.37684,0,0,0.765799,84.7829,-561.603)">
                          <path d="M629.642,1282.4C633.783,1282.72 635.601,1290.52 629.421,1290.68L600.141,1290.68C595.92,1290.57 593.785,1282.56 600.141,1282.39L629.421,1282.39C629.495,1282.39 629.569,1282.4 629.642,1282.4Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.583188,114.357,-261.203)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,174.878,-457.394)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(1.04852,0,0,0.571684,52.8979,-555.381)">
                          <path d="M818.471,1149.23C832.303,1149.23 843.532,1160.46 843.532,1174.29C843.532,1188.12 832.303,1199.35 818.471,1199.35C804.64,1199.35 793.41,1188.12 793.41,1174.29C793.41,1160.46 804.64,1149.23 818.471,1149.23ZM818.471,1161.76C825.387,1161.76 831.002,1167.37 831.002,1174.29C831.002,1181.2 825.387,1186.82 818.471,1186.82C811.556,1186.82 805.941,1181.2 805.941,1174.29C805.941,1167.37 811.556,1161.76 818.471,1161.76Z" style="fill:#c9d0e7;"></path>
                      </g>
                      <g transform="matrix(0.888437,0,0,1.03058,234.071,-1238.97)">
                          <path d="M455.804,1587.21C458.246,1587.36 459.925,1587.65 461.54,1589.08C471.809,1599.35 481.979,1609.64 492.346,1619.89C499.825,1627.11 516.124,1631.94 533.293,1631.98L620.852,1631.98C626.294,1632.1 629.858,1635.39 626.133,1637.41C624.861,1638.11 623.829,1638.48 620.852,1638.55L533.258,1638.55C510.882,1638.5 489.368,1632.24 479.528,1622.51L448.892,1591.88C446.996,1589.72 450.53,1587.12 455.804,1587.21Z" style="fill:#c9d0e7;fill-rule:nonzero;"></path>
                      </g>
                      <g transform="matrix(1.60755,0,0,0.876482,-3569.08,-1819.18)">
                          <path d="M2465.29,2798.9C2465.29,2798.9 2475.05,2787.4 2495.04,2790.9C2514.47,2794.3 2561.16,2803.1 2580.99,2822.94C2598.52,2840.47 2610.88,2894.93 2613.52,2907.38C2613.84,2908.87 2618.26,2947.83 2616.93,2948.59L2547.37,2948.59C2546.93,2948.83 2562.66,2914.84 2564.47,2906.46C2567.22,2893.69 2567.95,2884.25 2564.47,2869.91C2560.98,2855.58 2548.77,2834.27 2535.74,2824.94C2519.21,2813.11 2465.29,2798.9 2465.29,2798.9ZM2277.96,2674.88C2274.29,2682.64 2275.7,2690.73 2280.16,2696.88C2285.81,2704.66 2296.53,2707.65 2298.9,2715.88C2302.2,2727.38 2298.35,2754.55 2300,2765.89C2300.95,2772.39 2304.55,2778.59 2308.81,2783.89C2313.77,2790.05 2322.95,2799.05 2329.75,2802.89C2335.5,2806.13 2342.82,2806.54 2349.58,2806.89C2359.32,2807.39 2388.15,2805.89 2388.15,2805.89C2388.15,2805.89 2361.03,2806.99 2351.32,2799.89C2339.93,2791.55 2324.73,2770.21 2319.83,2755.88C2315.25,2742.49 2322.83,2722.7 2321.91,2713.87C2321.46,2709.56 2318,2705.61 2314.32,2702.87C2310.3,2699.87 2302.18,2699.69 2297.79,2695.87C2293.02,2691.7 2287.69,2683.03 2285.67,2677.87C2284.07,2673.78 2289.3,2663.59 2289.3,2663.59C2289.3,2663.59 2281.49,2667.4 2277.96,2674.88ZM2263.63,2631.87C2262.53,2633.53 2261.48,2639.17 2263.63,2641.87C2267.49,2646.7 2279.98,2656.53 2286.78,2660.87C2292.13,2664.35 2298.12,2666.73 2304.41,2667.87C2311.39,2669.03 2323.28,2666.87 2328.65,2667.87C2332.03,2668.5 2335.29,2671.87 2336.62,2673.87C2337.76,2675.58 2335.56,2678.11 2336.62,2679.87C2338.23,2682.53 2343.2,2688.03 2346.28,2689.87C2348.76,2691.34 2355.1,2690.87 2355.1,2690.87L2355.1,2686.87C2355.1,2683.7 2356.75,2676.53 2355.1,2671.87C2353.44,2667.2 2347.57,2661.03 2345.18,2658.87C2344.14,2657.92 2342.15,2659.31 2340.77,2658.87C2338.2,2658.03 2331.95,2654.53 2329.75,2653.87C2328.88,2653.72 2328.01,2654.12 2327.55,2654.87C2326.82,2656.2 2327.18,2661.2 2325.35,2661.87C2323.52,2662.53 2321.09,2658.91 2316.53,2658.87C2313.59,2658.83 2311.74,2663.11 2307.72,2660.87C2299.91,2656.51 2277.6,2636.69 2270.25,2631.86C2268.46,2630.69 2264.74,2630.2 2263.63,2631.87ZM2340.97,2525.62C2340.85,2524.95 2340.28,2524.44 2339.6,2524.39C2338.91,2524.35 2338.28,2524.78 2338.07,2525.43C2335.08,2534.62 2329.34,2552.7 2327.88,2560.85C2326.43,2569.45 2326.43,2578.24 2327.88,2586.85C2329.27,2595.52 2332.53,2604.6 2336.22,2612.86C2339.34,2619.85 2350.59,2631.05 2356.06,2636.24C2356.48,2636.64 2357.11,2636.73 2357.63,2636.46C2358.14,2636.18 2358.42,2635.6 2358.32,2635.02C2356.62,2625.81 2352.52,2602.9 2351.04,2588.85C2349.33,2572.69 2343.41,2539.11 2340.97,2525.62ZM2221.68,2540.85C2219.1,2549.15 2219.92,2558.15 2223.96,2565.85C2226.77,2571.17 2232.1,2575.19 2237.19,2578.85C2244.35,2584.02 2261.43,2591.02 2266.94,2596.85C2271.07,2601.22 2270.24,2608.85 2270.24,2613.85C2270.24,2618.3 2265.29,2627.69 2266.94,2626.85C2268.59,2626.02 2277.04,2614.96 2279.06,2610.46C2280.32,2607.66 2277.77,2602.02 2279.06,2599.85C2280.35,2597.69 2288.04,2596.21 2289.7,2593.71C2291.35,2591.21 2290.45,2588.99 2287.88,2586.15C2283.65,2581.48 2268.98,2572.7 2262.37,2570.04C2258.33,2568.41 2253.16,2569.19 2249.31,2568.85C2245.82,2568.59 2242.44,2567.57 2239.39,2565.85C2235.72,2563.69 2230.22,2560.02 2227.27,2555.85C2224.32,2551.69 2222.23,2539.18 2221.68,2540.85ZM2224.49,2534.34C2224.49,2534.34 2248.89,2517.46 2256.26,2510.71C2262.07,2505.39 2268.45,2494.58 2268.45,2494.58C2268.45,2494.58 2265.16,2508.61 2259.01,2514.24C2251.64,2520.98 2224.49,2534.34 2224.49,2534.34ZM2342.97,2448.84C2342.97,2448.84 2348.14,2448.15 2350.31,2448.84C2352.48,2449.53 2354.24,2451.48 2356.01,2452.97C2358.25,2454.88 2362.36,2457.18 2363.75,2460.22C2365.24,2463.49 2365.79,2469.52 2364.97,2472.63C2364.28,2475.26 2358.86,2478.83 2358.86,2478.83C2358.86,2478.83 2348.06,2469.35 2345.41,2464.35C2342.9,2459.59 2342.97,2448.84 2342.97,2448.84ZM2302.2,2245.54C2302.2,2245.54 2291.73,2288.75 2288.98,2302.8C2287.23,2311.72 2286.96,2320.97 2285.67,2329.8C2284.41,2338.5 2282.37,2348.47 2281.26,2355.81C2280.37,2361.79 2279.24,2368.65 2279.07,2373.81C2278.9,2378.17 2279.27,2382.54 2280.16,2386.81C2281.45,2392.81 2285.12,2403.81 2286.78,2409.81C2287.97,2414.12 2289.62,2418.38 2290.08,2422.81C2290.71,2429.13 2290.71,2435.49 2290.08,2441.81C2289.16,2449.98 2284.57,2471.82 2284.57,2471.82C2284.57,2471.82 2294.3,2451.67 2296.69,2444.83C2298.26,2440.33 2297.79,2434.33 2298.89,2430.83C2299.71,2428.24 2301.47,2425.16 2303.3,2423.83C2305.26,2422.57 2307.67,2422.2 2309.91,2422.83C2312.85,2423.66 2316.89,2427.83 2320.93,2428.83C2324.97,2429.83 2331.4,2429.83 2334.16,2428.83C2336.45,2428 2337.46,2422.83 2337.46,2422.83C2337.46,2422.83 2333.43,2420.68 2333.05,2418.83C2332.32,2415.16 2331.77,2403.83 2333.05,2400.83C2333.99,2398.65 2340.77,2400.83 2340.77,2400.83C2340.77,2400.83 2335.81,2396.33 2336.36,2395.83C2336.91,2395.33 2341.5,2397.5 2344.07,2397.83C2346.64,2398 2349.22,2398 2351.79,2397.83C2354.36,2397.65 2349.03,2394.49 2349.59,2393.83C2350.14,2393.16 2353.3,2393.5 2355.1,2393.83C2356.99,2394.34 2358.83,2395.01 2360.61,2395.83C2362.38,2396.65 2359.32,2390.49 2360.61,2390.83C2361.89,2391.16 2368.32,2397.83 2368.32,2397.83C2368.32,2397.83 2372.54,2392.33 2373.83,2392.83C2375.12,2393.33 2376.03,2400.83 2376.03,2400.83C2376.03,2400.83 2378.6,2396.83 2380.44,2395.83C2382.27,2394.83 2385.76,2394.16 2387.05,2394.83C2388.34,2395.49 2388.15,2399.83 2388.15,2399.83C2388.15,2399.83 2397.33,2399.83 2396.97,2401.83C2396.6,2403.83 2385.95,2411.83 2385.95,2411.83C2385.95,2411.83 2400.09,2422 2407.99,2423.83C2415.88,2425.66 2439.12,2425.5 2439.12,2425.5C2439.12,2425.5 2432.37,2417.97 2431.13,2415.83C2429.29,2412.66 2426.61,2406.64 2422.32,2403.83C2414.41,2398.66 2395.32,2389.49 2383.75,2384.83C2373.88,2380.85 2362.17,2380.85 2352.89,2375.83C2342.42,2370.16 2329.39,2359.66 2320.94,2350.82C2313.05,2342.58 2305.14,2330.82 2302.2,2322.82C2299.88,2316.48 2302.94,2309.15 2303.3,2302.82C2303.65,2296.82 2304.52,2290.82 2304.4,2284.82C2304.22,2275.25 2302.2,2245.54 2302.2,2245.54ZM2359.5,2415.82C2358.55,2420.65 2358.74,2426.08 2359.5,2431.82C2362.11,2429.65 2364.85,2427.64 2367.72,2425.82C2370.4,2424.6 2373.18,2423.6 2376.02,2422.82C2378.86,2422.04 2376.85,2417.94 2374.83,2416.82C2371.71,2415.1 2359.5,2415.82 2359.5,2415.82ZM2340.81,2417.01C2340,2418.82 2340.61,2424.08 2340.81,2425.71C2340.87,2426.22 2341.47,2426.64 2342.01,2426.8C2342.62,2426.98 2343.93,2427.36 2344.43,2426.8C2345.24,2425.89 2344.86,2421.7 2346.85,2421.36C2350.75,2420.7 2352.89,2414.84 2352.89,2414.84C2350.48,2414.65 2348.05,2414.65 2345.64,2414.84C2343.87,2415.15 2341.47,2415.5 2340.81,2417.01ZM2304.27,2236.9C2304.27,2236.9 2314.4,2221.89 2322.73,2209.55C2329.78,2199.1 2339.41,2190.65 2350.68,2185C2362.64,2179.01 2376.45,2172.1 2376.45,2172.1C2376.45,2172.1 2373.97,2174.81 2370.95,2178.13C2364.92,2184.75 2358.02,2190.52 2350.44,2195.28C2336.89,2203.8 2316.03,2220.48 2304.27,2236.9Z" style="fill:#c9d0e7;"></path>
                      </g>
                  </g>
              </g>
            </g>
          </g>
      </svg>
    </div>
    <!-- /IMAGE -->
  </div>
</main>
<script>
  $(function () {
    // SVG: set height
    var loginFormHeight = $('.login-form .card').innerHeight();
    $('.login-img svg').height(loginFormHeight);
  });
</script>