<div class="modal-body">
  <div class="pull-right editor-title">{{panel.type}} settings</div>
  <div ng-model="editor.index" bs-tabs>
    <div ng-repeat="tab in setEditorTabs(panelMeta)" data-title="{{tab}}">
    </div>
  </div>
  <div ng-show="editorTabs[editor.index] == 'General'">
    <div ng-include src="'app/partials/panelgeneral.html'"></div>
  </div>

  <div ng-show="editorTabs[editor.index] == 'Panel'">
    <div ng-include src="edit_path(panel.type)"></div>
  </div>

  <div ng-show="editorTabs[editor.index] == 'Info'">
    <div ng-include src="'app/partials/panelinfo.html'"></div>
  </div>

  <div ng-repeat="tab in panelMeta.editorTabs" ng-show="editorTabs[editor.index] == tab.title">
    <div ng-include src="tab.src"></div>
  </div>
  

<div class="modal-footer">
  <!-- close_edit() is provided here to allow for a scope to perform action on dismiss -->
  <button type="button" class="btn btn-danger" ng-click="editor.index=0;close_edit();dismiss()">Close</button>
</div>