<!doctype html>
<html lang="en">
    <app-header></app-header>

  <!-- LOGIN CARD -->
  <main id="main-wrapper" class="container my-4">
    <div class="row">
      <div class="col-8 m-auto">
        <!-- ALERT 
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle text-danger"></i> Please correct the errors below.
          </div> -->
        <!-- /ALERT -->

        <div class="card shadow-sm mb-4">
          <div class="card-header">
            <h5 class="mb-0">
              <i class="fa fa-angle-down mr-2"></i>Welcome
            </h5>
            <div class="text-danger">{{errorMessage}}</div>
          </div>

          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

              <label for="username">Username</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <input type="text" [(ngModel)]="user.userName" class="form-control " [ngModelOptions]="{standalone: true}" (change)="onChangeUserName($event.target.value)"
                  #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required>

                <div class="invalid-feedback">{{msgUserName}}{{errorMessage}}</div>
              </div>

              <label for="password">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
                <input type="password" [(ngModel)]="user.userPassword" class="form-control " [ngModelOptions]="{standalone: true}" (change)="onChangePassword($event.target.value)"
                  #userPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userPassword.invalid }" required/>
                <div class="invalid-feedback">{{msgPassword}}</div>

              </div>

              <div class="mt-3 text-center">
                <button class="btn btn-block btn-warning btn-jd" (click)="doLogin(user)">Login</button>
              </div>

              <div class="text-right mt-3">
                <a href="/forgotPassword">forgot password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- /LOGIN CARD -->

  <!-- footer -->
  <app-footer></app-footer>
  </html>
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS  -->
  <script src="js/app.min.js"></script> 
 

 