<!doctype html>
<html lang="en">

<body>
  <!-- header -->
  <app-header></app-header>

  <app-menu></app-menu>
  <main class="container-fluid py-4">
    <div class="row">
      <!-- sidebar -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-header bg-white">Filter</div>          
        </div>
      </div>

      <!-- content -->
      <div class="col">
        <!-- filter -->
        <div class="card card-body mb-4">
          <div class="input-group">
            <input type="text" class="form-control"  [(ngModel)]="queryParams" (change)="onChangeFilterValue(queryParams)" placeholder="Filter results">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <span class="fa fa-filter"></span>
              </button>
              <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#filter-options">
                <span class="fa fa-caret-down"></span>
              </button>
            </div>
          </div>

          <div class="collapse mt-4" id="filter-options">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                Cras justo odio
              </a>
              <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
              <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-white">
            <h4>adidas Herren Terrex Skychaser GTX Wanderstiefel</h4>
          </div>
          <div class="card-body">
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-dark-yellow" role="progressbar" style="width: 25%">14 reviews</div>
            </div>
          </div>
          <nav>
            <div class="nav nav-tabs px-3" id="card-tab">
              <a class="nav-item nav-link active" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews">
                Reviews
                <span class="badge badge-warning">14</span>
              </a>
              <a class="nav-item nav-link" id="nav-keyphrases-tab" data-toggle="tab" href="#nav-keyphrases">Keyphrases</a>
              <a class="nav-item nav-link" id="nav-sentiments-tab" data-toggle="tab" href="#nav-sentiments">Sentiments</a>
              <a class="nav-item nav-link" id="nav-categories-tab" data-toggle="tab" href="#nav-categories">Categories</a>
              <a class="nav-item nav-link" id="nav-aspects-tab" data-toggle="tab" href="#nav-aspects">Aspects</a>
            </div>
          </nav>

          <div class="tab-content" id="card-tabs" style="height:100%;width:100%">
            <!-- reviews -->
            <div class="tab-pane fade show active" id="nav-reviews">
              <app-reviews></app-reviews>
            </div>

            <!-- key phrases -->
            <div class="tab-pane fade" id="nav-keyphrases">
              <div class="card-body">
                <app-keyphrases></app-keyphrases>
              </div>
            </div>

            <!-- sentiments -->
            <div class="tab-pane fade" id="nav-sentiments">
              <div class="card-body">
                <app-sentiments></app-sentiments>
              </div>
            </div>

            <!-- categories -->
            <div class="tab-pane fade" id="nav-categories">
              <div class="card-body">
                <app-categories></app-categories>
              </div>
            </div>

            <!-- aspects -->
            <div class="tab-pane fade" id="nav-aspects">
              <div class="card-body">
                <p>Aspects</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>


  <app-footer></app-footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/app.min.js"></script>
</body>

</html>