<span class="badge badge-primary">
  Verschusystem</span>
<span class="badge badge-secondary">uber Stock</span>
<span class="badge badge-success">Schuhe fur</span>
<span class="badge badge-danger">Stadt</span>
<span class="badge badge-warning">Welt</span>
<span class="badge badge-primary">Verschusystem</span>
<span class="badge badge-secondary">uber Stock</span>
<span class="badge badge-success">Schuhe fur</span>
<span class="badge badge-danger">Stadt</span>
<span class="badge badge-warning">Welt</span>
<span class="badge badge-primary">Verschusystem</span>
<span class="badge badge-secondary">uber Stock</span>
<span class="badge badge-success">Schuhe fur</span>
<span class="badge badge-danger">Stadt</span>
<span class="badge badge-warning">Welt</span>
<span class="badge badge-primary">Verschusystem</span>
<span class="badge badge-secondary">uber Stock</span>
<span class="badge badge-success">Schuhe fur</span>
<span class="badge badge-danger">Stadt</span>
<span class="badge badge-warning">Welt</span>