<style>
  .node {
      cursor: pointer;
  }

      .node circle {
          stroke-width: 3px;
      }

      .node text {
          font: 18px sans-serif;
          fill: #fff;
      }

  .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
  }

  .tree {
      margin-bottom: 10px;
      overflow: auto;
  }
</style>

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <script src="module.js"></script>

 <div id="tree">

  </div>
 

  