<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <script src="vendor/xhr-xdr-adapter.js" type="text/javascript"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width">

  <title>INSAAS</title>
  <link rel="stylesheet" href="styles.css">
  <!-- <link rel="stylesheet" href="css/bootstrap.light.min.css" title="Light"> -->
  <link rel="stylesheet" href="css/timepicker.css">
  <!-- <link rel="stylesheet" href="css/animate.min.css"> -->
  <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
  <link rel="stylesheet" href="css/rotate.css">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <!-- load the root require context -->
  <script src="vendor/d3.js"></script>
  <script src="vendor/require/require.js"></script>
  <script src="app/components/require.config.js"></script> 
  <script>require(['app'], function () { })</script>
  <style>
  </style>

</head>

<body ng-cloak>

  <!-- <link rel="stylesheet" ng-href="css/bootstrap.{{dashboard.current.style||'dark'}}.min.css"> -->
  <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} dashboard-notice" ng-show="$last" style="position:fixed">
    <button type="button" class="close" ng-click="dashAlerts.clear(alert)" style="padding-right:50px">&times;</button>
    <strong>
      <img src="img/logo_light.png" alt="Home" height="30">
    </strong>
    <span ng-bind-html-unsafe='alert.text'></span>
    <div style="padding-right:10px" class='pull-right small'> {{$index + 1}} alert(s) </div>
  </div>

  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand"  title="Home">
          <img src="img/logo_light.png" alt="Home" height="30">
        </a>
      </nav> -->

  <!-- <div class="navbar navbar-static-top">
    <div class="navbar navbar-expand-md navbar-dark bg-primary" style="width: 100%">
      <div class="navbar-brand">
        <span class="navbar-brand"> -->
          <!-- // <img src="img/silklogo.png" data-placement="bottom">   -->
          <!-- {{dashboard.current.title}} -->
          <!-- <img src="img/logo_light.png" alt="Home" style="height:30px">
        </span>
      </div> -->
      <!-- header functions call i.e new, open, configuration -->
       <!-- <ul class="nav pull-right" ng-controller='dashLoader' ng-init="init()" ng-include="'app/partials/dashLoader.html'"></ul> 
    </div>
  </div> -->

  <!-- NAVBAR -->
  



  
    <div ng-view="">
    </div>
   

  

  <!-- FOOTER -->
  <footer class="bg-dark w-100 py-4">
    <div class="container-fluid"></div>
  </footer>
  <!-- /FOOTER -->
</body>

<script src="vendor/jquery/jquery-1.12.1.js"></script> 

<!-- <script src="vendor/b4/jquery.slim.min.js"></script>
<script src="vendor/b4/popper.min.js"></script>
<script src="vendor/b4/bootstrap.min.js"></script> -->

<script>
  $(function () {
    $(document).scroll(function () {
      var nav = $(".sticky-top");
      nav.toggleClass('bg-white', $(this).scrollTop() > nav.height());
    });
    
    // SVG: set height
    // var loginFormHeight = $('.login-form .card').innerHeight();
    // alert("loginFormHeight :: "+loginFormHeight);
    // $('.login-img svg').height(loginFormHeight);

  });
</script>
</html>
