:host {
    position: absolute;
    width: 500px;
    height:100px;
    border: 1px solid cornflowerblue;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
  }

  :host.ag-tooltip-hiding {
    opacity: 0;
  }

  .custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
  }

  .custom-tooltip p:first-of-type {
    font-weight: bold;
  }
  .custom-tooltip {
    position: absolute;
    width: 500px;
    height: 100px;
    border: 1px solid cornflowerblue;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
  }
  
  .custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
  }
  
  .custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
  }
  
  .custom-tooltip p:first-of-type {
    font-weight: bold;
  }