<!-- <!doctype html>
<html lang="en">
<head>
 </head>
 <body>
New Password: <input type="text" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}"><br>
Confirm Password: <input type="text" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}"><br>
<button (click)="changePassword(newPassword,confirmPassword)">Chnge pasword</button>
 </body>
</html> -->
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="icon" type="image/x-icon" href="..../favicon.ico">

  <!-- Bootstrap CSS 
  <link rel="stylesheet" href="css/app.min.css"> -->

  <title>Add-Password | Insaas</title>
</head>
<body class="page login">
  
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand"  title="Home">
      <img src="/img/logo_light.png" alt="Home" height="30">
    </a>
  </nav>
  <!-- /NAVBAR -->
  
  <!-- LOGIN CARD -->
  <main id="main-wrapper" class="container my-4">
    <div class="row">
      <div class="col-8 m-auto">
        <!-- ALERT 
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle text-danger"></i> Please correct the errors below.
          </div> -->
        <!-- /ALERT -->
          <div>{{msgAddPass}}</div>
        <div class="card shadow-sm mb-4">
          <div class="card-header">
            <!-- <h5 class="mb-0">
                <i class="fa fa-angle-down mr-2"></i>Welcome
            </h5> -->
            <div class="text-danger"></div>
          </div>
          
          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
               
                <label for="password">New Password</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </div>
                  </div>
                  <!-- <input type="text"[(ngModel)]="user.userName" class="form-control " [ngModelOptions]="{standalone: true}" (change)="onChangeUserName($event.target.value)"
                  #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required> -->
                  <input type="password" [(ngModel)]="password" class="form-control " [ngModelOptions]="{standalone: true}" placeholder="Enter your new here">
                  
                  
                </div>
                <label for="password">Confirm Password</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </div>
                  </div>
                  <!-- <input type="text"[(ngModel)]="user.userName" class="form-control " [ngModelOptions]="{standalone: true}" (change)="onChangeUserName($event.target.value)"
                  #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required> -->
                  <input type="password" [(ngModel)]="confirmPassword" class="form-control " [ngModelOptions]="{standalone: true}" placeholder="Enter your Confirm here">                 
                </div>
             

              <div class="mt-3 text-center">
                <!-- <button class="btn btn-block btn-warning btn-jd" (click)="doLogin(user)">Login</button> -->
                <button class="btn btn-block btn-warning btn-jd" (click)="addForgotPassword(password,confirmPassword)">Save</button>
              </div>
 
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- /LOGIN CARD -->
  
  <footer class="bg-primary fixed-bottom mt-3">
    &nbsp;
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS
  <script src="js/app.min.js"></script>  -->
</body>
</html>