<iframe src="http://192.168.1.202:8000/src/index.html#/dashboard/solr/ReviewDashboarrd?server=http:%2F%2Flocalhost:8983%2Fsolr%2F" style="height:100%;width:100%; position: absolute" ></iframe>
<!-- <div class="review">
    <div class="card-body">
      <p>Very classy and stylish footwear. Fits like a glove. Branding relatively discreet too. Have only owned for a few
        hours, so hoping they will stand up to regular use without issue.</p>
      <span class="small text-muted">3 Jan, 2019</span>
    </div>
    <div class="progress mb-4" style="height: 1px;" title="25%">
      <div class="progress-bar bg-dark-yellow" style="width: 25%;"></div>
    </div>
  </div>

  <div class="review">
    <div class="card-body">
      <p>Superb. Very comfortable, keep feet dry and excellent grip. Wish Id bought them ages ago!</p>
      <span class="small text-muted">12 Jan, 2019</span>
    </div>
    <div class="progress mb-4" style="height: 1px;">
      <div class="progress-bar bg-dark-green" style="width: 50%;" title="50%"></div>
    </div>
  </div>

  <div class="review">
    <div class="card-body">
      <p>Very classy and stylish footwear. Fits like a glove. Branding relatively discreet too. Have only owned for a few
        hours, so hoping they will stand up to regular use without issue.</p>
      <span class="small text-muted">26 Feb, 2019</span>
    </div>
    <div class="progress mb-4" style="height: 1px;">
      <div class="progress-bar bg-dark-red" style="width: 5%;"></div>
    </div>
  </div>

  <div class="review">
    <div class="card-body">
      <p>Superb. Very comfortable, keep feet dry and excellent grip. Wish Id bought them ages ago!</p>
      <span class="small text-muted">29 Mar, 2019</span>
    </div>
    <div class="progress mb-4" style="height: 1px;">
      <div class="progress-bar bg-dark-green" style="width: 50%;"></div>
    </div>
  </div>

  <div class="review">
    <div class="card-body">
      <p>Very classy and stylish footwear. Fits like a glove. Branding relatively discreet too. Have only owned for a few
        hours, so hoping they will stand up to regular use without issue.</p>
      <span class="small text-muted">3 Jan, 2019</span>
    </div>
    <div class="progress mb-4" style="height: 1px;" title="25%">
      <div class="progress-bar bg-dark-yellow" style="width: 25%;"></div>
    </div>
  </div>

  <div class="review">
    <div class="card-body">
      <p>Superb. Very comfortable, keep feet dry and excellent grip. Wish Id bought them ages ago!</p>
      <span class="small text-muted">12 Jan, 2019</span>
    </div>
    <div class="progress mb-4" style="height: 1px;">
      <div class="progress-bar bg-dark-red" style="width: 15%;" title="15%"></div>
    </div>
  </div>

  <div class="review">
    <div class="card-body">
      <p>Very classy and stylish footwear. Fits like a glove. Branding relatively discreet too. Have only owned for a few
        hours, so hoping they will stand up to regular use without issue.</p>
      <span class="small text-muted">26 Feb, 2019</span>
    </div>
    <div class="progress" style="height: 1px;">
      <div class="progress-bar bg-dark-green" style="width: 75%;" title="75%"></div>
    </div>
  </div> -->