 

  <p>Sentiments</p>
  <iframe src="http://192.168.1.202:8000/src/index.html#/dashboard/solr/Sunbrust_Dashboards?server=http:%2F%2Flocalhost:8983%2Fsolr%2F" style="height:100%;width:100%"></iframe>

 